<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=EmulateIE7' />
<meta name="viewport" content="width=device-width,  maximum-scale=1.0, minimum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>会员中心</title>
<link href="css/V1.css" type="text/css" rel="stylesheet" />
<!--[if IE]>  
<script type="text/javascript" src="js/msie.js"></script>
<![endif]-->
<script type="text/javascript" src="js/base.js"></script>
</head>

<body>
<div class="PcBox" id="PcBox" style="width:100%; margin-left:auto; margin-right:auto; overflow:hidden; display:none;">
  <div style="position:relative; padding-bottom:50px;" id="AppCom">
    <div class="aboutVipDiv" id="vipCenter" ></div>
  </div>
  <div class="AppBgGray" id="AppBgGray"></div>
</div>
<div class="MenuBox" id="MenuBox" rel="4"> </div>
<div class="loading" style="position:absolute; display:none;"><img src="images/382.gif" width="40" height="40" /></div>

<script type="text/javascript">
var loadMore = '';
var Von = '	if(G("islogin") == "0"){LinkAddCustomerId("login.html");}else{Vip.getVipDetail()}';
</script>

<script id="getVipDetail" type="text/template"> 
  <div class="vipInfo">
    <div class="vipInfoBg"><img style="width:100%; min-height:150px; min-width:100%;" src="images/vipbg.png"></div>
    <div class="vipInfoCon">
      <div class="vipheadwrap">
        <div class="viphead"><img width="100" height="100" style="margin: -10px 0 0 -12px;" src="images/default.png"></div>
      </div>
      <div class="vipheaderConnext">
        <div class="vipheaderConnextTop"><span style="font-size:16px;"><%=vipName %></span> &nbsp;<img src="images/vip.png" class=" isVipIcn" /><br />会员号：<%=vipCode %></div>
        <div class="vipheaderConnextBottom">
          <ul>
            <li onclick="LinkAddCustomerId('vipFav.html')"><span class="vipheaderConnextBottomNum"><%=itemKeepCount %></span>收藏</li>
            <li onclick="LinkAddCustomerId('vipIntegral.html')"><span class="vipheaderConnextBottomNum"><%= parseInt(integration) %></span>积分</li>
            <li onclick="LinkAddCustomerId('ChooseCoupon.html')"><span class="vipheaderConnextBottomNum"><%=couponCount %></span>优惠券</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="vipInfoBottom"></div>
  </div>
  <div class="vipActionList">
    <ul>
      <li><a href="vipCart.html"><div class="VipIcn1"><img src="images/s1.png" width="100%" /></div>
		 <% if(shoppingCartCount!="0"){ %>
			<span class="tipNum"><%=shoppingCartCount %></span>
			<% } %>
		购物车<em class="jtpi VipIcn"></em></a></li>
		<li ><a href="guaguaOrder.html?lotteryCount=<%=lotteryCount%>"><div class="VipIcn2"><img src="images/s2.png" width="100%" /></div>抽奖券 <span style="color:#cc0000"> <%=lotteryCount %></span> <em class="jtpi VipIcn"></em></a></li>
		<li ><a href="ChooseCoupon.html"><div class="VipIcn2"><img src="images/s8.png" width="100%" /></div>优惠券<em class="jtpi VipIcn"></em></a></li>
      <li style="border-bottom:none;"><a href="vipHistory.html"><div class="VipIcn2"><img src="images/s3.png" width="100%" /></div>浏览历史<em class="jtpi VipIcn"></em></a></li>
    </ul>
  </div>
   <div class="vipActionList">
    <ul>
      <li><a href="vipNoPayment.html"><span class="VipIcn VipIcn3"></span>待付款订单<em class="jtpi VipIcn"></em></a></li>
      <li><a href="vipHasPayment.html"><span class="VipIcn VipIcn4"></span>待发货订单<em class="jtpi VipIcn"></em></a></li>
      <li><a href="vipWaitSend.html"><span class="VipIcn VipIcn5"></span>待收货订单<em class="jtpi VipIcn"></em></a></li>
      <li style="border-bottom:none;"><a href="vipComplete.html"><span class="VipIcn VipIcn6"></span>已完成订单<em class="jtpi VipIcn"></em></a></li>
    </ul>
  </div>
  <div style="padding:20px 0; width:94%; margin-left:auto; margin-right:auto;"><input type="button" value="退出登录" class="btnStylecc" style="border-radius:5px;" onclick="LoginExit()"></div>
</script> 
</body>
</html>
