<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=EmulateIE7' />
<meta name="viewport" content="width=device-width,  maximum-scale=1.0, minimum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title id="HeaderTitle">会员秀详情</title>
<link href="css/V1.css" type="text/css" rel="stylesheet" />
<!--[if IE]>  
<script type="text/javascript" src="js/msie.js"></script>
<![endif]-->
<script type="text/javascript" src="js/base.js"></script>
</head>

<body  >
<div class="PcBox" id="PcBox" style="width:100%; margin-left:auto; margin-right:auto; overflow:hidden; display:none;">
  <div class="DetailBigBox" id="DetailBigBox"></div>
  <div class="MenuBox" id="MenuBox"></div>
</div>
<div class="loading" style="position:absolute; display:none;"><img src="images/382.gif" width="40" height="40" /></div>
<script type="text/javascript">
var loadMore = '';
var Von = 'GetData.getVipShowById();'; //  
</script> 
<script id="appDetail" type="text/template"> 
<div id="wrapper" class="DetailImg" style="overflow: hidden; height:320px">
  <div id="scroller" class="DetailImgIeo" >
    <ul>
		<% _.each(imageList,function(item){ %>
     	 <li style="width:<%= w %>px"><img style="width:<%= w %>px;" src="<%= item.imageURL%>"></li>
      <% })%>
    </ul>
  </div>
  <div class="KzDGrayTOP"></div>
  <div class="KzDGray" style="height:32px; opacity:0.4"></div>
  <div class="KzDGray" style="opacity:1;height:20px; padding-top:12x; z-index:8; background:none; text-align:center"><table border="0" style="margin-left:auto; margin-right:auto;">
  <tr>
    <td><dl id="indicator" style="bottom:0px; left:40%; position:static;">
	  <% _.each(imageList,function(item,key){ %>
		<dd <% if(key==0){%>class="active" <%}%>><%= key+1 %></dd>
		 <% })%>
	  </dl></td>
  </tr>
</table>

	
  </div>
  <div style="position:absolute; left:10px; bottom:0px; padding-left:40px; height:32px; line-height:32px; z-index:9;  ">
  <%if (isPraise=="0"){%><span onclick="Vip.Good(this,event,'<%=vipShowId%>')" isselect="0" style="bottom:-3px;" class="rightpp"><img src="images/zangray.png" style="width:30px;"></span><%}else{%>
	  <span  isselect="1" class="rightpp" style="bottom:-3px;"><img src="images/zan.png" style="width:30px;"></span>
	  <%}%>
	  <span style="color:#e93c8c; font-size:20px;"><span id="zan_<%=vipShowId%>"><%=praiseCount%></span></span>
	</div>
	<%if (itemId!=""){%>
	<a href="detail.html?itemId=<%=itemId%>" >
	  <div style="position:absolute; right:10px; bottom:0px; padding-left:40px; height:32px; line-height:32px;  z-index:9;">
  	<span  style="bottom:-8px;" class="rightpp"><img src="images/pngtuj.png" style="width:30px;"></span>
	  <span style="color:#e93c8c; font-size:16px;">推荐</span>
	</div>
	</a>
	 <%}%>
</div>
<div class="DetailSmallBox" style="margin-top:0; border-top:0;">
  <div class="DetailSmallBoxYW">
	 
<!--  	<h1 style="font-size:14px; color:#e93c8c; height:30px; line-height:30px; overflow:hidden;"><%= hairStylistName %></h1>-->

    <div class="EPSdg" style="padding-top:15px;"><%= experience %><br><span style="font-size:12px;"><%= createTime %></span>
      </div>
	  	<%if(appShareback != "1"){%>
	    <div class="DetailSmallBoxYWDlR" style="padding-left:0; padding-top:40px; overflow:hidden;"><div class="DetailmdkZBtn" style="position:static; width:48%; float:left;">
<a href="javascript:void(0)" onclick="openFollowTips()" class="DetailActionBtn">分享</a></div><div class="DetailmdkZBtn" style="position:static; width:48%; float:left; margin-left:4%;">
<a href="myShow.html?itemId=<%=itemId%>" class="DetailActionBtn">我要秀</a></div></div>
		<%}else{%>
		
	  	<div class="DetailSmallBoxYWDlR" style="padding-left:0; padding-top:15px; padding-bottom:10px; overflow:hidden;">
		<div style="line-height:22px; padding-bottom:15px; ;">想看更多会员分享，请<span style="color:#e93c8c;">下载APP</span>或者关注公众号 <span style="color:#e93c8c;" id="WeixinHao"></span></div>
		<div class="DetailmdkZBtn" style="position:static; width:100%; float:left; ">
<a href="http://weixun.co/o2oapp.html" id="AppDownLoadLink" class="DetailActionBtn">APP下载</a></div></div>
		<%}%>
<div class="vipCartBoxBottom"></div>
  </div>
  	
</div>

</script>
	<!--<div style="color:#e93c8c; text-align:right; padding-bottom:10px;">分享到</div>
  	<div class="follow" style="width:100%; margin-left:auto; margin-right:auto;  padding-bottom:10px; position:relative;"><img src="images/fenx.png" width="100%" /><div style="position:absolute; left:0; top:0; height:50px; width:100%;  cursor:pointer" onclick="openFollowTips()"></div></div>-->
</body>
</html>
