<div class="winBoxer" style="width:332px;">
    <div class="winCaption">
        <span class="winCaption_icon tExport"></span>
        <a class="winCaption_btnClose" href="###">Close</a>
    </div>
    <div class="winContent contShare">
        <b class="h3">Export Type</b>
        <ul class="ul_exType">
            <li><input type="radio" name="rdgExport" id="rdgExportMap" checked="checked"/>Map</li>
            <li><input type="radio" name="rdgExport" id="rdgExportData"/>Data</li>
            <li><input type="radio" name="rdgExport" id="rdgExportMapAndData" />Map +Data</li>
        </ul>
        <div class="linkButton">
            <a class="btn_bottom cancel" href="###">Cancel</a>
            <a class="btn_bottom ok" href="###" onclick="exportMap();">Confirm</a>
        </div>
    </div>
</div>
<!--<script language="javascript" type="text/javascript">
    var CurrentExportType = 1;  //默认为导出地图
    function fnChangeExportType(type) {
        alert(1);
        CurrentExportType = type;
    }
</script>-->