
<div class="winBoxer" style="width:495px ;">
    <div class="winCaption">
        <span class="winCaption_icon tFilter"></span>
        <a class="winCaption_btnClose" href="###">关闭</a>
    </div>
    <ul class="winTabs">
        <li class="time"><a href="./LayoutResource/templates/filter_time.html"></a></li>
        <li class="customer selected2"></li>
        <li class="product"><a href="./LayoutResource/templates/filter_product.html"></a></li>
    </ul>

    <div class="winContent contFilter">
        <ul>
            <li><label for="">请选择终端类型</label>
                <select name="" id="">
                    <option value="">年</option>
                </select></li>
            <li class="selDatetime"><label for="">请选择连锁</label>
                <select name="" id="">
                    <option value="">年</option>
                </select></li>

        </ul>
        <div class="splitLine_1"></div>
        <div class="linkButton txtCenter">
            <a class="btn_bottom cancel" href="###">取消</a>
            <a class="btn_bottom ok" href="###">确定</a>
        </div>

    </div>
    <div class="clearFix_12"></div>
</div>

<script type="text/javascript">
    filterTabs();
</script>