<div class="winBoxer" style="width:492px">
    <div class="winCaption">
        <span class="winCaption_icon tImport"></span>
        <a class="winCaption_btnClose" href="###">关闭</a>
    </div>
    <div class="winContent contShare">
        <b class="h3">上传数据</b>
        <ul>
            <li class="process">
                <div class="step_num">
                    <span class="sn1">1</span><span class="sn2">2</span> <span class="sn3">3</span>
                </div>
                <span class="process_line"></span>

                <div class="step_pic">
                    <span class="sp1 sp_complete"></span><span class="sp2 sp_complete"></span> <span class="sp3 sp_complete"></span>
                </div>
                <div class="step_txt">
                    <span class="st1">模板选择</span><span class="st2">上传数据</span><span class="st3">完成</span>
                </div>
            </li>
            <li class="txtGdp">
                <p class="fhs_16" style="margin-left: -6px">【全国各省】2013年全国各省人均GDP排名</p>
            </li>
            <li class="txtSuccess">
                <h2>上传成功</h2>
            </li>
        </ul>
    </div>
    <div class="clearFix_12"></div>
</div>