<!--// “终端”弹出层-->
<div class="winBoxer" style="width:492px;">
    <div class="winCaption">
        <span class="winCaption_icon tTerminal"></span>
        <a class="winCaption_btnClose" href="###">关闭</a>
    </div>
    <div class="winContent contShare">
        <b class="h3">中欧移动商店 <span class="tDate">2013-06-06</span></b>

        <div class="terminal_chart">
            <label class="daySale" for="">当日销量</label>
            <label class="saleRank">销量前三的商品</label>

            <h1>1,410.80</h1>

            <div class="annular"></div>
            <ul class="markup">
                <li><span class="mc_1"></span>商品</li>
                <li><span class="mc_2"></span>商品</li>
                <li><span class="mc_3"></span>商品</li>
                <li><span class="mc_4"></span>商品</li>
            </ul>
        </div>
        <table class="terminal_sheet">
            <thead>
            <tr>
                <td>交易单号</td>
                <td>金额(员)</td>
                <td>状态</td>
                <td>时间</td>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>AD201300003</td>
                <td>201.5</td>
                <td>交易成功</td>
                <td>2013-06-04 10:29</td>
            </tr>
            <tr>
                <td>AD201300003</td>
                <td>201.5</td>
                <td>交易成功</td>
                <td>2013-06-04 10:29</td>
            </tr>
            <tr>
                <td>AD201300003</td>
                <td>201.5</td>
                <td>交易成功</td>
                <td>2013-06-04 10:29</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="clearFix_12"></div>
</div>