@charset "utf-8";

.zsy{clear: both;font-size:0px; line-height:0px; display:block;}
.commonSelectWrap .selectBox{ border: 1px solid transparent;}
.outoptionBtn{height: 65px;padding-top: 20px;background: #f4f8fb;border: solid 1px #eee;border-bottom: none;}
.outoptionBtn .commonBtn { width: 94px;background: #00cccc;line-height: 32px;height: 32px;float: right;margin-right: 20px;}
.optionBtn{ padding-top:5px; background: #fff; border: solid  1px #eee; border-bottom:none; float: left; width: 100%}
.optionBtn ul{ width: 100%; height: 65px; float: left;}
.optionBtn li{cursor: pointer; font-size: 15px; color: #999; float: left; padding-left: 35px; float: left; line-height:64px; }
.optionBtn li.on{color: #07c8cf}
.optionBtn li.on em{border-bottom: 2px #07c8cf solid;}
.moreQueryWrap{ float: left;margin-top: 12px;  height: 33px;margin: 10px 10px 10px 0;}
.rowText{ line-height: 22px; white-space:initial; width: 100%; text-align: left; color: #999;}
.rowText p{ color: #666;}
.imgTable .datagrid-row-checked {background-color:#b2f0f0;}
.imgTable .datagrid-row  img{ float: left;margin-right: 10px;}
.rowStatusStyle{color: #fc7a52;}
.dataMessage{ text-align: center;  font-size: 14px; line-height: 35px; display: none}

.optionBtn .commonBtn{background: no-repeat 8px center #00cccc;  float: left; margin-left: 35px;}
.optionBtn .commonBtn.icon{ background-image: url("../images/icon.png");}

