<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--DATEAdd(DAY, 0, GETDATE())-->
    <add key="Interval" value="DAY"/>
    <add key="Increment" value="0"/>
    <add key="Timing" value="22:18:00"/>
    <add key="MailTo" value="pengtao.chen@jitmarketing.cn"/>
    <add key="Subject" value="测试EMBA邮件发送"/>
    <add key="CustomerID" value="75a232c2cf064b45b1b6393823d2431e"/>
    <add key="SmtpServer" value="smtp.exmail.qq.com"/>
    <add key="MailSendFrom" value="pengtao.chen@jitmarketing.cn"/>
    <add key="MailUserName" value="pengtao.chen@jitmarketing.cn"/>
    <add key="MailUserPassword" value="123456!a"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnStr" connectionString="user id=dev;password=dev-12013!;data source=112.124.68.147;database=cpos_bs"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
