<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="platform" value="CPOS"/>
    <add key="Conn_ap" value="user id=dev;password=JtLaxT7668;data source=115.159.30.196,3433;database=cpos_ap;" />
    <add key="SleepingTime" value="300000"/>
    <add key="CustomerID" value="5979700fd3f1478d90cbc147a1512ae6"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
