@charset "utf-8";
/*上传图片样式*/
.commonSelectWrap .handleLayer{ display: block;float: left;margin-left: 5px}
.handleLayer .jsAreaItem{width:385px; position: relative;}
.handleLayer .wrapPic .imglist{ width: 50px; }
.handleLayer .wrapPic .imglist img{ height: 50px;width:50px;border:1px solid #cfcedc; margin-bottom: 8px;}
.handleLayer .wrapPic .imglist img.on{ border: 3px solid #000;}
.handleLayer .wrapPic .size{display:block;width:50%;margin:15% auto;}
.handleLayer .wrapPic .imgPanl{width: 182px;height: 182px;border:1px solid #cfcedc;background:#dde0e9;color:#333;overflow:hidden;position: absolute; top: -108px;right: 0;}
.handleLayer .wrapPic .imgPanl img{width:100%;}
.handleLayer .wrapPic .uploadBtn{float:left; position: relative; width: 123px; height: 33px; background:url(../images/uploadimg.png); cursor:pointer;margin-right: 20px;}
.handleLayer .wrapPic .uploadBtn .ke-button-common {width:123px;height:33px;opacity:0;filter:Alpha(opacity=0);}
.handleLayer .wrapPic .uploadBtn input{display:block;width:123px;height:33px;opacity:0;filter:Alpha(opacity=0);position:absolute;top:0;left:0;}

#addProm{ margin-top: 15px;}
.shift{display:none;position: absolute;right: 0;top: 30%;}
.shift .fontC{ float:left; color:#00acee; font-size:22px; width:23px; font-weight: bolder;}
.datagrid-row-over td{ position: relative;}
.datagrid-row-over .shift{display: block}


.list{position:relative;height: 36px;display: block;clear: both;width: 200px;}
.list .optBtn{ width: 23px; height: 23px; right: 40px; top:-6px;;position: absolute;  display: none }
.list:hover .optBtn { display: block;}
.list .optBtn .btn{ width: 31px; height: 31px; float:left; margin-left: 15px;}
.list .optBtn .add{ background:url(../images/add0rdel.png) no-repeat 0 0;}
/*.list .optBtn .del{ background:url(../images/add0rdel.png) no-repeat -41px 0;}*/
.list .optBtn .del{ background:url(../images/del.png) no-repeat 0 0; background-size:16px 16px; cursor:pointer}
#Children{border: none; max-height: 258px; height: auto;overflow-x: auto;width: 248px;}
#Children input{ border: 1px solid #ccc; width: 160px;}
#Children .add{ background:none; color: #00acee; font-size: 15px;}


.quicklyBox{width:614px;margin:40px auto 0;}
.quicklyBtnBox{height:20px;line-height:20px;margin-top:8px;margin-bottom:20px;}
.quicklyBtnBox a{float:left;width:33.33%;text-align:center;font-size:14px;color:#00a1e6;}
.quicklyBtnBox a span{padding-right:18px;background:url(../images/icon-href.png) no-repeat right center;}
.nextNotShow span{display:inline-block;margin-left:10px;line-height:20px;padding-left:22px;font-size:12px;background:url(../images/icon-check.png) no-repeat left center;color:#666;cursor:pointer;}
.nextNotShow span.on{background:url(../images/icon-checked.png) no-repeat left center;}
