<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="cycleTime" value="10000" />
    
    <add key="Conn_lj" value="server=www.o2omarketing.cn; database=cpos_bs_lj; Integrated Security=False; user id=dev; password=dev-12013!;"/>
    <add key="Conn_bs" value="server=www.o2omarketing.cn; database=cpos_bs_gift; Integrated Security=False; user id=dev; password=dev-12013!;"/>
    <add key="customer_id" value="f6a7da3d28f74f2abedfc3ea0cf65c01"/>
    
    <add key="EnableMsgSend_lj" value="0" />
    <add key="EnableTaskSend" value="1" />
    
    <add key="push_weixin_msg_url" value="http://115.29.186.161/ialumni/sendmessage.aspx" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
