<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!--单点登录的访问地址-->
    <add key="sso_url" value="http://sso.dev.tf.chainclouds.cn" />
    
    <!--附件图片访问地址-->
    <add key="AttachFilePath" value="http://localhost:9004" />

    <add key="interfacehost" value="http://api.dev.tf.chainclouds.cn/" />
  
    <!--FTP上传图片地址-->
    <!--正式环境-->
    <add key="FtpUrl" value="" />

    <add key="FtpUser" value="" />
    <add key="FtpPassword" value="" />
    <add key="FtpMappingUrl" value="" />
    <!--静态文件分离url-->
    <!--正式环境-->
    <!--<add key="staticUrl" value="http://static.chainclouds.cn" />-->
    <!--开发环境-->
    <add key="staticUrl" value="" />

    <!--开发环境-->
    <!--<add key="FtpUrl" value="dev.chainclouds.cn:2121"/>
    <add key="FtpUser" value="song.zhou" />
    <add key="FtpPassword" value="ald.zhou1020" />-->
    
    
     <!--员工固定二维码磁盘路径-->
     <add key="DiskImagePath" value="D:\trade\api\HeadImage\"/>
    <!--多利 开发-->   
    <add key="test_customer_id" value="7e144bf108b94505a890ec3a7820db8d" />
    <add key="test_token" value="03735075c6df43e2ae5b42c237d4d081" />
    <!--鸣龙茶叶 TEST环境-->
    <!--<add key="test_customer_id" value="eb17cc2569c74ab7888b1f403972d37d" />
    <add key="test_token" value="5be9acafd8384bcc85bdc72eef77f52f" />-->
    <!--洗衣项目 开发环境-->
    <!--<add key="test_customer_id" value="fb3e948d91074cc4a9d6fc49a51dc89d" />-->
    <!--<add key="test_token" value="285140da53e9493b8330bedafa0a6126" />-->
    <!--zmdTest-->
    <!--<add key="test_customer_id" value="2ad24e9a668b439a8acbd67a23f77dc6" />
    <add key="test_token" value="e8d31aa9631a4773b08e1305c00666df" />-->
    
    <!--管理平台的访问地址-->
    <!--云连锁开发环境-->
    <add key="ap_url" value="http://ap.dev.tf.chainclouds.cn" />   <!--必须留着,必须加http://-->
    
    <!--是否将所执行的TSQL语句以日志的形式记录下来-->
    <add key="IsLoggingTSQL" value="false" />
    <!--微信推送接口地址Jermyn20130606-->
    <add key="push_weixin_msg_url" value="http://115.29.186.161/ialumni/sendmessage.aspx" />
    <!--kindeditor Web地址-->
    <!--正式环境-->
    <!--<add key="host" value="api.t.chainclouds.cn" />

    <add key="APConn" value="user id=sxxuser;password=9wekhMeiJ;data source=10.105.29.197;database=cpos_ap;"/>
    <add key="Conn" value="user id=sxxuser;password=9wekhMeiJ;data source=10.105.29.197;database=cpos_bs;"/>    
    <add key="Conn_dex" value="user id=sxxuser;password=9wekhMeiJ;data source=10.105.29.197;database=cpos_dex;" />-->
    <!--kindeditor Web地址-->
    <add key="host" value="http://localhost:2332/" />
    
    <!--开发环境-->  
    <!--<add key="APConn" value="user id=dev;password=JtLaxT7668;data source=182.254.219.83,3433;database=cpos_ap;"/>
    <add key="Conn" value="user id=dev;password=JtLaxT7668;data source=182.254.219.83,3433;database=cpos_bs;"/>
      <add key="Conn_dex" value="user id=dev;password=JtLaxT7668;data source=182.254.219.83,3433;database=cpos_dex;" />
    <add key="Conn_ap" value="user id=dev;password=JtLaxT7668;data source=115.159.30.196,3433;database=cpos_ap;" />-->
    
    <!--UAT环境-->  
    <!--<add key="APConn" value="user id=dev;password=JtLaxT7668;data source=182.254.219.83,5433;database=cpos_ap;"/>
    <add key="Conn" value="user id=dev;password=JtLaxT7668;data source=182.254.219.83,5433;database=cpos_bs;"/>
      <add key="Conn_dex" value="user id=dev;password=JtLaxT7668;data source=182.254.219.83,5433;database=cpos_dex;" />
    <add key="Conn_ap" value="user id=dev;password=JtLaxT7668;data source=115.159.30.196,5433;database=cpos_ap;" />-->
    <!--TEST环境-->
    <!--<add key="APConn" value="user id=admin;password=JtLaxT7668;data source=182.254.151.86,7433;database=cpos_ap;" />
    <add key="Conn" value="user id=admin;password=JtLaxT7668;data source=182.254.151.86,7433;database=cpos_bs;" />
      <add key="Conn_dex" value="user id=admin;password=JtLaxT7668;data source=182.254.151.86,7433;database=cpos_dex;" />-->
      
    <!--FSR RDS环境-->    
    <!--<add key="APConn" value="user id=fsrjt;password=JtLaxT7668;data source=rdsre2td1c9hj9110m8q.sqlserver.rds.aliyuncs.com,3433;database=cpos_ap;" />
    <add key="Conn" value="user id=fsrjt;password=JtLaxT7668;data source=rdsre2td1c9hj9110m8q.sqlserver.rds.aliyuncs.com,3433;database=cpos_bs;" />
    <add key="Conn_dex" value="user id=fsrjt;password=JtLaxT7668;data source=rdsre2td1c9hj9110m8q.sqlserver.rds.aliyuncs.com,3433;database=cpos_dex;" />-->
    
    <!--多利 开发环境-->    
    <add key="APConn" value="user id=admin;password=JtLaxT7668;data source=10.105.84.170,7433;database=cpos_ap;" />
    <add key="Conn" value="user id=admin;password=JtLaxT7668;data source=10.105.84.170,7433;database=cpos_bs;" />
    <add key="Conn_ap" value="user id=admin;password=JtLaxT7668;data source=10.105.84.170,7433;database=cpos_ap;" />
    
    
    <!--Auth认证-->
    <add key="AuthUrl" value="http://api.dev.tf.chainclouds.cn/" />
    <add key="DownloadImageUrl" value="http://localhost:2332/" />
    <add key="customer_service_url" value="http://localhost:23130/" />

    <!--二维码-->
    <add key="website_WWW" value="http://localhost:9004/" />
    <add key="interfacehost" value="http://api.dev.tf.chainclouds.cn/" />
    <add key="interfacehost1" value="http://bs.dev.tf.chainclouds.cn/" />
    <add key="original_url" value="http://api.test.fsr.chainclouds.cn/" />
    <!--支付通道通知url-->
    <add key="payMentUrl" value="http://localhost:9004/" />
    <!--代付url-->
    <add key="TradeCenterPayUrl" value="http://112.124.68.147:8181/Gateway.ashx" />
    <!--通道ID-->
    <add key="PayChannelID" value="93" />

    <!--站点配置xml文件路径-->
    <add key="xmlFile" value="/Config/config.xml" />

    <add key="SMSURL" value="http://www.jitmarketing.cn:10001/Geteway.ashx" />
   
    
	<!--公众号登录授权服务(要加http://或https://,末尾不用加/斜杠)-->
    <add key="openOAuthUrl" value="http://test.open.chainclouds.cn" />

    <!--灵肯微秀场接口参数-->
    <add key="TokenUrl" value="http://api.sit.vveshow.com/iloka/v1/token/get" />
    <add key="TicketUrl" value="http://api.sit.vveshow.com/iloka/v1/ticket/getticket" />
    <add key="LinKinUrl" value="http://iloka.sit.vveshow.com/mobile.html?" />
    <add key="appid" value="lkfb9p7jr6t8ba8k1r" />
    <add key="secret" value="284cf0799a5c4d1da5a5e90f419b7c71" />
	
    <!--RedisOpenAPI URL-->
    <add key="RedisApiUrl" value="http://redis.dev.tf.chainclouds.cn/"/>
    <!--记录redis读取的开关-->
    <add key="RedisDBOpen" value="0" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <!--解决提交时长度过长，提交不了的错误-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400" executionTimeout="3600"  maxQueryStringLength="102400"/>
    <pages validateRequest="false"></pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <sessionState timeout="120" />

  </system.web>
  <system.webServer>
   
    <defaultDocument>
      <files>
        <add value="LoginManager.aspx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="102400" />
        <!--解决提交时长度过长，提交不了的错误，和httpRuntime两个都要配置-->     
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AuthServiceSoap" />
        <binding name="BasicHttpBinding_IMSTRIntegrationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IMapKpiService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">

          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />

          <security mode="None">

            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />

            <message clientCredentialType="UserName" algorithmSuite="Default" />

          </security>

        </binding>
        <binding name="UnitServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sso.t.chainclouds.cn/AuthService.asmx"
        binding="basicHttpBinding" bindingConfiguration="AuthServiceSoap"
        contract="AuthManagerWebServices.AuthServiceSoap" name="AuthServiceSoap" />
      <endpoint address="http://222.73.180.225:25161/MSTRIntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMSTRIntegrationService" contract="ReportService.IMSTRIntegrationService" name="BasicHttpBinding_IMSTRIntegrationService" />
      <endpoint address="http://dev.jitmarketing.cn:18101/Impls/MapKpiService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMapKpiService" contract="MapKpiService.IMapKpiService" name="BasicHttpBinding_IMapKpiService" />


    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>