<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!--单点登录的访问地址-->
    <!--<add key="sso_url" value="http://sso.chainclouds.com" />-->
        <add key="sso_url" value="http://sso.chainclouds.com" />
    <!--阿拉丁平台开发环境-->
    <!--<add key="sso_url" value="http://sso.dev.aladingyidong.com" />-->  
    
    <add key="sso_url_local" value="http://localhost:2330/"/>
    <!--附件图片访问地址-->
    <add key="AttachFilePath" value="http://localhost:9004"/>

    <add key="interfacehost" value="http://test.o2omarketing.cn:9004/" />
    <!--sina weibo app key,用来调用短网址接口-->
    <add key="sinaWeiboKey" value="504136043"/>
    <!--<add key="CposWebConfigPath" value="E:\Jit.Alex\Work\CPOS New\Code\CPOS.Web\HtmlApps\config\"/>
    <add key="CposWebVersionPath" value="E:\Jit.Alex\Work\CPOS New\Code\CPOS.Web\HtmlApps\version\"/>-->


    <!--FTP上传图片地址-->
    <!--正式环境-->
    <add key="FtpUrl" value="img.aladingyidong.com:2121"/>
    <!--ftp://img.aladingyidong.com:2121-->
    <add key="FtpUser" value="aldup" />
    <add key="FtpPassword" value="ald.static1020" />
    <add key="FtpMappingUrl" value="http://img.aladingyidong.com" />
    <!--静态文件分离url-->
    <!--正式环境-->
    <!--<add key="staticUrl" value="http://static.aladingyidong.com" />-->
    <!--开发环境-->
    <add key="staticUrl" value="" />

    <!--开发环境-->
    <!--<add key="FtpUrl" value="dev.aladingyidong.com:2121"/>
    <add key="FtpUser" value="song.zhou" />
    <add key="FtpPassword" value="ald.zhou1020" />-->
    
    
     <!--员工固定二维码磁盘路径-->
    <add key="DiskImagePath" value="D:/trade/api/"/>



    <!--91旅游订阅-->
    <add key="test_customer_id" value="a50f572579f64df49b9247074c7d6d3b" />
    <add key="test_token" value="39ec3afb4ca84ec7ac1d351e41f9cd85" />
    <!--安庆惠康-->
    <!--<add key="test_customer_id" value="d6628cbf55f647178ad941057dab72eb" />
    <add key="test_token" value="9d1794ed5f864f6a80761dee47d09b52" />-->


    <!--泸州老窖--> 
    <!--暂时把泸州老窖的给屏蔽掉，下面-->
    <!--<add key="test_customer_id" value="e703dbedadd943abacf864531decdac1" />
    <add key="test_token" value="e550afa8d1b64fb882c97d351260a41e" />-->
       <!--郑州国宇  开发环境-->   
    <!--<add key="test_customer_id" value="13c7f2d8d6bd4be19f2fff5e41fec243" />
    <add key="test_token" value="d6f104098f614eabaa9925ab0a8ed0ff" />-->
    
    <!--模拟测试的token-->
    <!--<add key="test_token" value="8c8245e842514677b86ab2c865993823" />-->
    <!--7d4cda48970b4ed0aa697d8c2c2e4af3-->
    <!--5fcd8f8f39d34e6198fea553666af62b-->
    <!--<add key="test_token" value="3e5a9aa1c41544bfb7708cdb91fd2119" />-->
    <!--化妆品-->
    <!--<add key="test_token" value="09a0ca54957241f8abd0a8352d6aba74" />-->
    <!--宝胜-->
    <!--<add key="test_token" value="b84537027bf7422592cd3aa9fc1f9e9f" />-->
    <!--demo-->
    <!--<add key="test_token" value="17e02a6dd0094de9b18da1ca73d37027" />-->
    <!--2b860614a41b4d08b033f6e526d98127  fosun-->
    <!--17e02a6dd0094de9b18da1ca73d37027-->
    <!--fd862b7613f5446da8b3066ca01e3e78-->
    <!--五色腾-->
    <!--<add key="test_token" value="00cd6f4e14174e8aa2b070940b355525" />-->

    <!--万科-->
    <!--<add key="test_token" value="1762d89328d44f4696c673961f29b03b" />-->
    <!--乐活吧-->
    <!--<add key="test_token" value="387727078c7340eebf99ed987a5d01c1" />-->

    <!--模拟测试的客户ID-->
    <!--<add key="test_token" value="0bf6425a3c434e09992973dacc6e9385" />-->
    <!--管理平台的访问地址-->
    <!--<add key="ap_url" value="http://jitmarketing.f3322.org:8101" />-->
    <add key="ap_url" value="http://test.o2omarketing.cn:8101" />
    <!--是否将所执行的TSQL语句以日志的形式记录下来-->
    <add key="IsLoggingTSQL" value="false" />
    <!--微信推送接口地址Jermyn20130606-->
    <add key="push_weixin_msg_url" value="http://115.29.186.161/ialumni/sendmessage.aspx" />
    <!--kindeditor Web地址-->
    <!--正式环境-->
    <!--<add key="host" value="api.t.aladingyidong.com" />
    <add key="APConn" value="user id=sa;password=ALD.2014!;data source=115.159.30.196;database=cpos_ap;"/>
    <add key="Conn" value="user id=sa;password=ALD.2014!;data source=115.159.30.196;database=cpos_bs;"/>
    <add key="Conn_lj" value="user id=sa;password=ALD.2014!;data source=115.159.30.196;database=cpos_bs_lj;" />
    <add key="Conn_alading" value="user id=sa;password=ALD.2014!;data source=115.159.30.196;database=cpos_bs_alading;" />-->
    <!--开发环境-->  
    <add key="APConn" value="user id=dev;password=JtLaxT7668;data source=115.159.30.196,3433;database=cpos_ap;"/>
    <add key="Conn" value="user id=dev;password=JtLaxT7668;data source=115.159.30.196,3433;database=cpos_bs;"/>
    
    
    <!--云店商户客户标识-->
    <add key ="CloudCustomerId" value="a50f572579f64df49b9247074c7d6d3b"/>
    <!--<add key="Conn_vanke" value="user id=dev;password=dev_1234!;data source=115.29.10.228;database=cpos_bs_vanke;" />
    <add key="Conn_hotwind" value="user id=dev;password=dev_1234!;data source=115.29.10.228;database=cpos_bs_hotwind;" />-->
    <!--<add key="original_url" value="http://115.29.10.228:9004" />
    <add key="Conn_dex" value="user id=dev;password=dev_1234!;data source=115.29.10.228;database=cpos_dex;" />
    <add key="Conn_ap" value="user id=dev;password=dev_1234!;data source=115.29.10.228;database=cpos_ap;" />-->

    <!--阿拉丁开发环境-->    
    <!--<add key="APConn" value="user id=dev;password=jit!2014;data source=182.254.215.20;database=cpos_ap;"/>
    <add key="Conn" value="user id=dev;password=jit!2014;data source=182.254.215.20;database=cpos_bs;"/>-->

    <add key="qdy_store1" value="bd3a6de8-3c00-4ef6-b1c4-025d79bd1b8b" />
    <add key="qdy_store2" value="1e8a94c1-167c-4b9c-a7db-9a9cf2915363" />
    <add key="qdy_store3" value="5a287910-8754-4c4e-a222-f2fb5ba07d49" />
    <!--Auth认证-->
    <add key="AuthUrl" value="http://test.o2omarketing.cn:9004/" />
    <!--<add key="DownloadImageUrl" value="http://test.o2omarketing.cn:8400/" />-->
    <add key="DownloadImageUrl" value="http://bs.chainclouds.com/" />
    <add key="customer_service_url" value="http://localhost:23130/" />

    <!--二维码-->
    <add key="website_WWW" value="http://localhost:9004/" />
    <add key="interfacehost" value="http://test.o2omarketing.cn:9004/" />
    <add key="interfacehost1" value="http://test.o2omarketing.cn:8400/" />

    <!--支付通道通知url-->
    <add key="payMentUrl" value="http://localhost:9004/" />
    <!--代付url-->
    <add key="TradeCenterPayUrl" value="http://112.124.68.147:8181/Gateway.ashx" />
    <!--通道ID-->
    <add key="PayChannelID" value="93"/>

    <!--站点配置xml文件路径-->
    <add key="xmlFile" value="/Config/config.xml"/>

    <add key="SMSURL" value="http://www.jitmarketing.cn:10001/Geteway.ashx" />

    <!--企信部门typeID-->
    <add key="TypeID" value="4E1A9BB0E36F4D2B951E0F477ECB3C0A" />
    <add key="glt_ht_service_url" value="http://test.o2omarketing.cn:9200" />
    <add key="glt_service_url" value="http://test.o2omarketing.cn:9100" />
    
    
  </appSettings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <!--解决提交时长度过长，提交不了的错误-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400" executionTimeout="3600"  maxQueryStringLength="102400"/>
    <pages validateRequest="false"></pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <sessionState timeout="120" />

  </system.web>
  <system.webServer>
   
    <defaultDocument>
      <files>
        <add value="LoginManager.aspx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="102400" />
        <!--解决提交时长度过长，提交不了的错误，和httpRuntime两个都要配置-->     
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AuthServiceSoap" />
        <binding name="BasicHttpBinding_IMSTRIntegrationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IMapKpiService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">

          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />

          <security mode="None">

            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />

            <message clientCredentialType="UserName" algorithmSuite="Default" />

          </security>

        </binding>
        <binding name="UnitServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sso.t.aladingyidong.com/AuthService.asmx"
        binding="basicHttpBinding" bindingConfiguration="AuthServiceSoap"
        contract="AuthManagerWebServices.AuthServiceSoap" name="AuthServiceSoap" />
      <endpoint address="http://222.73.180.225:25161/MSTRIntegrationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMSTRIntegrationService"
        contract="ReportService.IMSTRIntegrationService" name="BasicHttpBinding_IMSTRIntegrationService" />
      <endpoint address="http://dev.jitmarketing.cn:18101/Impls/MapKpiService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMapKpiService"
              contract="MapKpiService.IMapKpiService" name="BasicHttpBinding_IMapKpiService" />
      <endpoint address="http://test.o2omarketing.cn:9004/WebServices/UnitService.asmx"
        binding="basicHttpBinding" bindingConfiguration="UnitServiceSoap"
        contract="UnitServiceSoap.UnitServiceSoap" name="UnitServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>