@charset "utf-8";
html,body{height:100%;}
.indexPage{background:#f6f6f6;}
.indexPage .content{width:640px;margin:0 auto;}


/*commonSearch*/
.commonSearchArea{height:87px;padding:11px 20px;background:#fe7c23;color:#fff;}
.commonSearchArea .allClassify{float:right;width:25px;height:32px;line-height:16px;font-size:12px;overflow:hidden;color:#fff;}
.commonSearchBox{height:65px;border-radius:5px;background:#e75810;}
.commonSearchBox .searchBtn{float:right;width:80px;height:100%;background:url(/HtmlApps/images/public/index_shop/searchIcon.png) no-repeat center center;}
.commonSearchBox .searchBtn input{width:100%;height:100%;opacity: 0;}
.commonSearchBox .searchInput{height:65px;margin-right:80px;}
.commonSearchBox .searchInput input{display:inline-block;width:100%;height:65px;text-indent:10px;font-size:24px;background:none;border:none;border-right:1px solid #fff;color:#fff;}
.commonSearchBox .searchInput input::-webkit-input-placeholder { color:#FFF;}

/*commonBanner*/
.commonBanner{position:relative;overflow:hidden;border-bottom:1px solid #d4d4d4;}
.commonBanner .picList{width:100%;}
.commonBanner .picList li{float:left;text-align:center;}
.commonBanner .picList li a{display:block;}
.commonBanner .picList li img{display:block;width:100%;height:auto;}
.commonBanner .asideShow{width:100%;position:absolute;bottom:0;text-align:center;}
.commonBanner .dot{display:inline-block;}
.commonBanner .dot em{float:left;width:10px;height:10px;margin-left:5px;border-radius:15px;background:rgba(153,153,153,0.8);}
.commonBanner .dot .on{background:rgba(255,255,255,0.7);}

/*图文导航列表*/
.navPicArea{border-bottom:1px solid #d4d4d4;background:#fff;}
.navPicArea a{float:left;width:25%;height:144px;}
.navPicArea a img{display:block;width:100%;height:100%;}


/*navArea*/
.navArea{background:#fff;border-bottom:1px solid #d4d4d4;}
.navArea a{float:left;width:25%;height:73px;}
.navArea a img{display:block;width:40px;height:40px;margin:8px auto 5px;}
.navArea a span{display:block;text-align:center;font:12px/1.2em "Microsoft YaHei";color:#666;}
/*noticeList*/
/*
.noticeList{min-height:165px;margin:10px 0;text-align:center;font-size:12px;}
.noticeList .noticeArea{width:32%;float:left;border:1px solid #e0e0e0;-webkit-box-sizing:border-box;}
.noticeList .noticeArea.mlmr{margin:0 2%;}
.noticeList .box{padding:8px 8px 3px;border-bottom:1px solid #e0e0e0;background:#fff;color:#333;}
.noticeList .box img{width:auto;height:68px;}
.noticeList .box .tint{color:#f33;}
.noticeList h2.title{margin-bottom:5px;padding-bottom:5px;border-bottom:1px solid #e0e0e0;text-indent:18px;font-size:12px;font-weight:bold;background-size:15px 15px;}
.noticeList .clock{background:url(images/clock.png) no-repeat 1px 1px;}
.noticeList .group{background:url(images/group.png) no-repeat 1px 1px;}
.noticeList .graph{background:url(images/graph.png) no-repeat 1px 1px;}

.noticeList .info{padding:3px 0 5px;color:#888;}
.noticeList .info p{height:15px;}
.noticeList .info p:nth-child(1){margin-bottom:2px;}
.noticeList .info del,.noticeList .info .tint{color:#333;}
.noticeList .info .time span{display:inline-block;width:8px;height:16px;font-weight:bold;background:#000;color:#fff;}
.noticeList .info .time em{display:inline-block;width:9px;line-height:16px;margin-right:1px;}
.noticeList .info .time span:nth-child(odd),.noticeList .info .minute{margin-right:1px;}
*/


/*图文列表*/
.commonIndexArea{position:relative;height:296px;margin-bottom:16px;background:#fff;border-top:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;color:#666;overflow:hidden;}
.commonIndexArea .icon{position:absolute;top:-3px;left:-3px;width:29px;height:29px;background:url(images/sm.png) no-repeat 0 0;background-size:100%;}
.commonIndexArea .allbox{width:100%;}
.commonIndexArea .allbox a{display:block;height:100%;width:100%;text-align:center;overflow:hidden;}
.commonIndexArea .allbox img{max-width:100%;max-height:100%;margin:0 auto;}
.commonIndexArea .leftbox{border-right:1px solid #ebebeb;}
.commonIndexArea .leftbox,.commonIndexArea .rightbox{float:left;width:50%;height:100%;}
.commonIndexArea .rightbox a:nth-child(1){border-bottom:1px solid #ebebeb;}
.commonIndexArea .leftbox img{width:100%;height:100%;}
.commonIndexArea .rightbox a{display:block;height:50%;}
.commonIndexArea .rightbox img{width:100%;height:100%;}

/*index2*/
.snapupArea{display:none;position:relative;height:300px;overflow:hidden;}
.snapupArea > a{display:block;text-align:center;border:1px solid #d4d4d4;background:#fff;}
.snapupArea > a img{max-width:100%;max-height:100%;}
.snapupWrap{position:absolute;top:10px;left:10px;width:290px;height:280px;}
.snapupWrap img{width:100%;}
.grouponWrap{position:absolute;right:10px;top:10px;width:316px;height:135px;}
.newProductWrap{position:absolute;right:10px;bottom:10px;width:316px;height:135px;}

.snapupBox{padding:12px 0 0 10px;position:absolute;top:0px;}
.snapupArea .time{display:none;}
.snapupArea .time > *{float:left;}
.snapupArea .time span{width:13px;height:27px;text-align:center;font:18px/27px "Arial";background:#4f4242;color:#fff;}
.snapupArea .time em{width:10px;height:27px;text-align:center;font:bold 16px/27px "Arial";color:#4f4242;}
.snapupArea .time span:nth-of-type(odd){margin-right:2px;}

.goodShopRecommend{padding:0 7px;}
.goodShopRecommend .title{padding-left:12px;letter-spacing:1px;font:bold 16px/36px "Microsoft YaHei";color:#000;}
.goodShopRecommend .picList{height:120px;overflow:hidden;}
.goodShopRecommend ul{width:500%;}
.goodShopRecommend li{float:left;}
.goodShopRecommend li>div{position:relative;float:left;width:150px;height:120px;}
.goodShopRecommend li>div:nth-of-type(1){margin-right:6px;}
.goodShopRecommend li img{width:100%;height:100%;}
.goodShopRecommend li .tit{position:absolute;bottom:0;left:0;width:100%;height:25px;padding-left:12px;font:12px/25px "Microsoft YaHei";background:rgba(0,0,0,0.7);color:#fff;}
.goodShopRecommend .markDot{margin:8px 12px;text-align:center;}
.goodShopRecommend .markDot em{display:inline-block;width:10px;height:10px;border:1px solid #cecece;border-radius:5px;background:#fbfbfb;}
.goodShopRecommend .markDot .on{background:#ff5000;}