@charset "utf-8";
html,body{background:#ebebeb;}
.commonBox{margin-top:15px;padding:15px 0 0 15px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#fff;color:#858585;}
.commonBox input[type="text"],.commonBox select{width:100%;height:32px;padding-left:20px;border:none;font-size:16px;color:#A9A9A9;-webkit-appearance:none;}
.commonBox select{padding-left:50px;}
input[type="text"].buildInput {padding-left:53px;}
.commonBtn{display:block;line-height:32px;-webkit-border-radius:5px;text-align:center;font-size:12px;color:#fff;background-image: -webkit-gradient(linear, left top, left bottom, from(#2792fd), to(#0479d3));-webkit-box-shadow:1px 1px 1px #97c3e5;}
.historyValue .mask,.commonList i,.selectBtn{background:url(images/commonIcon.png) no-repeat;background-size:100%;}

.titleWrap{display:-webkit-box;height:45px;line-height:45px;padding:0 10px 0 15px;background:#1987db;color:#fff;}
.titleWrap .tit{-webkit-box-flex:1;}
.historyValue{display:block;color:#fff;}
.historyValue .mask{float:left;width:20px;height:20px;margin:12px 7px 0 0;background-position:2px 2px;}
.historyValue span{float:left;letter-spacing:1px;height:32px;border-bottom:1px solid #fff;}

.commonList{display:-webkit-box;margin-bottom:10px;}
.commonList:last-child .wrapInput{border-bottom:none;}
.commonTit{display:block;min-width:48px;line-height:30px;font-size:16px;color:#666;}
.commonList i{display:block;width:22px;height:22px;margin:3px 5px 0 0;}
.commonList .villageName{background-position:5px -16px;}
.commonList .building{background-position:5px -36px;}
.commonList .floor{background-position:5px -60px;}
.wrapInput{display:block;-webkit-box-flex:1;height:40px;border-bottom:1px solid #ccc;position:relative;}

.selectBtn{width:23px;height:23px;position:absolute;top:4px;right:10px;border:1px solid #999;background-position:6px -75px;}

.submitBtn{margin:30px 20px;line-height:45px;font-size:16px;}
