<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=EmulateIE7' />
<meta name="viewport" content="width=device-width,  maximum-scale=1.0, minimum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title id="HeaderTitle">菜品详情</title>
<link href="css/V1.css" type="text/css" rel="stylesheet" />
<!--[if IE]>  
<script type="text/javascript" src="js/msie.js"></script>
<![endif]-->
<script type="text/javascript" src="js/base.js"></script>
</head>

<body  >
<div class="PcBox" id="PcBox" style="width:100%; margin-left:auto; margin-right:auto; overflow:hidden; display:none;">
  <div class="DetailBigBox" id="DetailBigBox"></div>
  <div class="MenuBox" id="MenuBox"></div>
</div>
<div class="loading" style="position:absolute; display:none;"><img src="images/382.gif" width="40" height="40" /></div>
<script type="text/javascript">
var loadMore = '';
var Von = 'GetData.getItemDetail();GetData.setBrowseHistory()';  
</script> 
<script id="appDetail" type="text/template"> 
<div id="wrapper" class="DetailImg" style="overflow: hidden; height:280px">
  <div id="scroller" class="DetailImgIeo" >
    <ul>
		<% _.each(imageList,function(item){ %>
     	 <li style="width:<%= w %>px"><img style="height:280px;" src="<%= item.imageURL%>"></li>
      <% })%>
    </ul>
  </div>
  <div class="KzDGrayTOP"></div>
  <div class="KzDGray" style="height:40px;"></div>
  <div style=" width:120px; position:absolute; bottom:0px; right:10px; z-index:10; cursor:pointer" id="fav"><%if(isKeep=="0"){%><img src="images/fav.png" width="100%" onclick="GetData.setItemKeep('<%=itemId%>','1',this)" /><%}else{%>
  	<img src="images/hasfav.png" width="100%" onclick="GetData.setItemKeep('<%=itemId%>','0',this)" />
  <%}%></div>
  <dl id="indicator" style="right:50%;">
  <% _.each(imageList,function(item,key){ %>
    <dd <% if(key==0){%>class="active" <%}%>><%= key+1 %></dd>
	 <% })%>
  </dl>
</div>
<div class="DetailSmallBox">
  <div class="DetailSmallBoxYW">
  	<div class="DetailmdkINner"><% _.each(skuList,function(itemc){ %><div class="DetailmdkZv">￥
<span class="qian" style="font-size:24px;">
		<%= itemc.salesPrice %>
		</span>

元</div><%if(isShoppingCart=="0"){%><div class="DetailmdkZBtn"><a class="DetailActionBtn" shref="submitOrder.html?itemId=<%= itemId %>" onclick="Vip.setShoppingCart('<%= itemc.skuId %>',this)" href="javascript:void(0)">加入菜单</a></div><%}else{%> <div class="DetailmdkZBtn"><a class="DetailActionBtn" style="background:#999" href="javascript:void(0)">已加入菜单</a></div><%}%></div>
	 <% })%>
  	<h1><%= itemName %></h1>
    <h2>菜品详情</h2>
    <div class="EPSdg"><%= useInfo %>
      </div>
	    <div class="DetailSmallBoxYWDlR"><span class="Detailicn Dicn1"></span>&nbsp;<%= salesPersonCount %>人已购买</div>
  </div>
<div class="vipCartBoxBottom"></div>
</div>

</script>
</body>
</html>
