<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>照片集</title>
        <meta content="width=device-width, initial-scale=1.0,user-scalable=no" name="viewport">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <link type="text/css" href="css/bootstrap.min.css" />
        <link  rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>

    
    <script id="showPhotoList" type="text/template">
    <% _.each(photoList,function(item, index){%>
        <div class="grid">
            <div class="imgholder">
                <img src="<%=item.linkUrl%>" data-index="<%=index%>" />
            </div>
            <strong><%=item.title%></strong>
            <!--<div class="meta"><%=item.readerCount%>人看过</div>-->
        </div>
    <% })%>
    </script>
    
    <script id="touchsliderList" type="text/template">
        <% _.each(photoList,function(item, index){%>
            <div class="touchslider-item" >
                <span>
                    <img src="<%=item.linkUrl%>"  />
                </span>
            </div>
        <% })%>
        
    </script>
    
    <body style="background: #E0E5E7;">
        <article class="row-fluid">
            <!-- <section  class="baner_box"><img src="images/baner_02.jpg" alt="泸州老窖" /></section>-->
            <section class="pad_pl waterflow" id="container">
                
            </section>
            <section class="touchslider"  style="display: none;">
                <div class="touchslider-viewport">
                    <div id="touchsliderListContainer">
                        
                    </div>
                </div>
                <div class="tools-bottom-bar">
                    <div class="tools-container">
                        <span class="touchslider-close">X</span>
                        <span class="touchslider-autoplay">play</span>
                        <span class="touchslider-stop">stop</span>
                        <span class="touchslider-prev">←</span>
                        <span class="touchslider-next">→</span>
                    </div>
                </div>
            </section>
        </article>

        <script type="text/javascript" src="js/base.js"></script>
        <script type="text/javascript">
            var loadMore = '';
            var Von = 'ZN.LoadPhotoPage()';
        </script>
    </body>
</html>
