@charset "utf-8";

.zsy{clear: both;font-size:0px; line-height:0px; display:block;}
.commonSelectWrap .selectBox{ border: 1px solid transparent;}
.optionBtn{height:65px; padding-top: 20px; background: #f4f8fa; border: solid  1px #eee; border-bottom:none;}
.optionBtn .commonBtn{ width:72px; background: #00cccc;line-height: 32px; height:32px; float: left; margin-left: 20px;}
.optionBtn .sales{ width: 132px;}
.optionBtn .sales img{margin-top: -3px; margin-right: 6px;}
.moreQueryWrap{ float: left;margin-top: 12px;}

#Tooltip .opts { width:52px; background: #00acee;line-height: 32px; height:32px;  }
#Tooltip  .btnList { margin: 15px; width: 120px;}

.r{float: right}.l{float: left}

.fontC{ width: 18px; height: 18px; margin: 0 auto; background:no-repeat center center;}
.red{color:red}
.delete{background:url(../images/del.png) no-repeat; width: 16px; height: 16px; margin: 0 auto;}

.tableWrapTextBtn   {height: 80px;}


.commonBtn{text-align:center;background:#fc7a52;color:#fff;border-radius:4px;}
.moreQueryWrap{float: right;margin-top: 10px;}
.moreQueryWrap .commonBtn{ display: block;}
.moreQueryWrap .queryBtn{ width:72px;height:32px;line-height:32px;}
.moreQueryWrap #addOrder{width:100px;height:32px;line-height:32px;}
.moreQueryWrap .more{display:block;width:102px;margin-top:5px;padding-right:4px;text-align:center;font:14px/1.2em "å®‹ä½“";text-decoration:underline;background:url(../images/moreQuery.png) no-repeat right 5px;color:#2d83cf;}
.btnWrap{padding:35px 0;text-align:center;}
.btnWrap a{display:inline-block;}
.cancelBtn{height:38px;line-height:38px;border:1px solid #fc7a52;background:#fff;color:#fc7a52;}
.cancelBtn,.saveBtn{border-radius:38px;}
.cancelBtn:hover{background:transparent;color: #fc7a52}
.panel-header, .panel-body {
    border: none;
}
.rowText{ line-height: 22px; white-space:initial; width: 100%; padding-left: 35px;
    text-align: left;}

.btnAdd{ width: 42px; height: 27px; line-height: 27px; /* border: 1px solid #07c8cf;*/ color: #07c8cf; margin: 0 auto;}

.dataMessage{ text-align: center;  font-size: 14px; line-height: 35px; display: none}
.borderNone{ float: left; padding-left: 6px;}
.optionclass{ padding-top: 20px;}
.btnAdd    {background:url(../images/addstr.png) center center  no-repeat}
.btnDownload    {background:url(../images/Download.png) center center  no-repeat;width: 16px; height: 16px;cursor:pointer;}
.operation{display: inline-block;}
.opt {float: left; width: 18px;height: 18px;margin: 6px 10px;}

