.zsy{clear: both;font-size:0px; line-height:0px; display:block;}
.commonSelectWrap .selectBox{ border: 1px solid transparent;}
.queryTermArea{ position:relative;border-bottom:1px solid #07c8cf;padding-left: 0; padding-right:0;display:inline-flex; width: 100%;}
.moreQueryWrap{ float:left;margin-top: 12px; margin-bottom: 12px;}
.moreQueryWrap .commonBtn{ margin-left: 55px; height: 30px; line-height: 30px;}
.queryTermArea .item{width: 100%; height: 100%}
.queryTermArea .itemBtn{width:200px;height: 100% }
.fontColor{ color: #fb7a52;}

