@charset "utf-8";
.search_bar a i,.search_bar input[type="button"],.btn_remove {
    background:url(../images/sprites.png) no-repeat 0 0;
}
.tool_bar dt a,.tool_bar dd a{ background:url(../../../images/common/navmenu.png) no-repeat 0 0; }
.goods_wrap {
    background:#fff;
}
.tool_bar { background-color: #EBEAEA; border-bottom: 1px solid #CDCDCD; height: 3em; padding-top: 5px; position: fixed; top: 0; width: 100%; z-index: 9; }
.tool_bar dt a, .tool_bar dd a { background-size: 100% auto; display: inline-block; height: 2em; overflow: hidden; text-indent: -9999px; width: 2.5em; }
.tool_bar dt { display: inline-block; width: 24%; }
.tool_bar dd { display: inline-block; width: 24%; }
.tool_bar dd:nth-child(4)
{
     text-align:right;
    
    }
.tool_bar dt a {
    background-position:0 0;
}
.tool_bar dt span {
    display:inline-block;
    font-size:14px;
    vertical-align:5px;
}
.tool_bar dt:nth-child(1) a {
    background-position: 10px 1px;
}
.tool_bar dd:nth-child(2) a {
    background-position: 8px -28px;
    margin-left: 10px;
}
.tool_bar dd:nth-child(3) a {
    background-position: 2px -62px;
    margin-left: 20px;
}
.tool_bar dd:nth-child(4) a {
    background-position: 8px -92px;
}

.pro_list { padding:0 10px;}
.pro_list li { padding:10px 0; border-bottom:1px solid #ccc;}
.pro_list li a { display:-webkit-box;}
.pro_list li .imgBox { width:35%; margin-right:10px;}
.pro_list li .imgBox img { border:1px solid #ccc; width:100%;}
.pro_list li .infoBox { width:60%;}
.pro_list li .infoBox h3 { margin-bottom:5px;}
.pro_list li .infoBox p:nth-child(2) { color:#999;}
.pro_list li .infoBox p:last-child { color:#cc0000;}

.coupon_list { padding:50px 10px 10px 10px; background:#E1E5E8;}
.coupon_wrap { background:#fff; border:1px solid #C9CDCE; padding:15px 10px; text-align:left;}
.coupon_wrap th,.coupon_wrap td { padding:15px 5px; border-bottom:1px dashed #ccc;}
.coupon_wrap td span { font-size:12px; color:#666;}
.coupon_wrap td b { color:#cc0000;}
