@charset "utf-8";

.hongbao-list { background:url('/HtmlApps/images/common/lotteryAll/geted.jpg') no-repeat top center; background-size:cover; padding:15px 0;}
.dl01 dt { text-align:center; width:78%; margin:0 auto;}
.dl01 dt img { width:100%;}
.dl01 dd { text-align:center; margin-top:30px;}
.dl01 dd:nth-child(2) a { display:inline-block; margin:0 5px; width:130px; height:40px; line-height:40px; text-align:center; color:#fff;-webkit-border-radius:20px;border-radius:20px;}
.dl01 dd:nth-child(2) .btn-ling { background-color:#39B44A;}
.dl01 dd:nth-child(2) .btn-fen { background-color:#FE7C24;}
.dl01 dd:nth-child(3) a { margin:0 5px;}

.dl02 { background:url('/HtmlApps/images/common/lotteryAll/pic-ling.png') no-repeat top center; background-size:cover; text-align:center; width:78%; margin:0 auto; height:380px; color:#fff; font-size:20px;}
.dl02 dt { font-size:30px; padding-top:100px;}
.dl02 dt p { font-size:18px;}
.dl02 dd { border-top:1px solid #fff; width:80%; margin:0 auto; margin-top:20px;}
.dl02 dd { padding-top:20px;}
.dl02 dd:nth-child(3) a { display:block; width:70%; margin:0 auto; height:40px; line-height:40px; text-align:center; background-color:#FFBA00;-webkit-border-radius:20px;border-radius:20px; color:#fff;}

.mask { position:fixed; width:100%; height:100%; background:rgba(0,0,0,.6); top:0; left:0; z-index:999;}
.tips-share { width:65%; position:fixed; top:10px; right:20px; z-index:1000;}

.popup {box-shadow: 0px 0px 5px #FCFCFC; width:80%; background:#fff; position: relative;top:82px;padding:0; margin:0 auto;-webkit-border-radius:10px;border-radius:10px; z-index:1000;}
.popup-t { height:35px; line-height:35px; text-align:center; border-bottom:1px solid #C9C9C9; font-size:18px; color:#666;}
.popup-m { padding:20px 15px;}
.popup-b {border-top:1px solid #C9C9C9; height:35px; line-height:35px;display:-webkit-box;display:box;}
.popup-b a { display:block; color:#666; text-align:center;-webkit-box-flex:1;box-flex:1; border-left:1px solid #C9C9C9}
.popup-b a:first-child { border-left:none;}

.myHongbao-list .tab { height:40px; line-height:40px;display:-webkit-box;display:box; text-align:center;}
.myHongbao-list .tab a { display:block;-webkit-box-flex:1;box-flex:1; border-bottom:1px solid #F2F0EB; border-left:1px solid #ccc;}
.myHongbao-list .tab a:first-child { border-left:0;}
.myHongbao-list .tab a.cur { color:#ee5859; border-bottom:2px solid #EE5859;}
.myHongbao-cont { background:url('/HtmlApps/images/common/lotteryAll/myHongbao-bg.jpg') no-repeat top center; background-size:cover; padding:15px 50px 50px 20px; height:528px;}
.myHongbao-cont h3 { color:#ee5859; font-size:20px;}
.myHongbao-cont dl { border:2px solid #EE5859;height: 60%; -webkit-border-radius:5px;border-radius:5px; margin-top:25px; position:relative; background:#FAF4E5;}
.myHongbao-cont dt { width:60px; background:#FAF5E3; color:#ee5859; font-size:16px; position:absolute; top:-15px; left:15px; text-align:center;}
.myHongbao-cont dd { padding:15px; height: 100%;overflow-y: auto;}
.myHongbao-cont dd p { height:30px; line-height:30px;color:#ee5859;}
.myHongbao-cont dd p span { float:right;color:#000;}
.myHongbao-cont ul { padding:25px 10px 25px 25px;}
.myHongbao-cont ul li { height:30px; line-height:30px;}
.myHongbao-cont ul li span { float:right; color:#999;}


.wrapper {position: relative;margin: 0 auto;max-width: 640px;min-height: 100%;}
.img{display:block;margin:0 auto;}
.awardBtnWrap{position:fixed;bottom:10px;left:0px;width:100%;height:45px;}
.awardBtnWrap span{width:43%;height:42px;line-height:42px;text-align:center;font-size:15px;font-weight:bold;border-radius:5px;background:#f60;color:#fff;cursor:pointer;}
.awardBtnWrap .prizeBtn{float:left;margin:0 2% 0 5%;}
.awardBtnWrap .rewardBtn{float:right;margin:0 5% 0 2%;}
