<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JIT.CPOS.BS.WebServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AuthServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.55:8100/AuthService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AuthServiceSoap"
                contract="AuthManagerWebServices.AuthServiceSoap" name="AuthServiceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <JIT.CPOS.BS.WebServices.Properties.Settings>
            <setting name="JITCPos_BS_WebServices_AuthManagerWebServices_AuthService"
                serializeAs="String">
                <value>http://192.168.0.55:8100/AuthService.asmx</value>
            </setting>
            <setting name="CPOS_BS_WebServices_CustomerDataExchangeWebService_CustomerDataExchangeService"
                serializeAs="String">
                <value>http://180.153.154.21:8101/customer/CustomerDataExchangeService.asmx</value>
            </setting>
            <setting name="CPOS_BS_WebServices_AuthManagerWebServices_AuthService"
                serializeAs="String">
                <value>http://sso.t.aladingyidong.com/AuthService.asmx</value>
            </setting>
            <setting name="CPOS_BS_WebServices_ShortUrlChangeService_ShortUrlChangeService"
                serializeAs="String">
                <value>http://www.o2omarketing.cn:9004/WebServices/ShortUrlChangeService.asmx</value>
            </setting>
        </JIT.CPOS.BS.WebServices.Properties.Settings>
    </applicationSettings>
</configuration>