@charset "utf-8";

.queryTermArea {background: #fff;}
.window-mask {  position: fixed;}
.window {position:fixed;}
.messager-window {  position: absolute;}
.dataMessage2, .dataMessage3{
  text-align: center;
  font-size: 14px;
  line-height: 35px;
}

.datagrid-view1 {  height: 0px;}
.datagrid-view2 {position:relative;}
.viewdesc {color:#00a0e8;}
.lineform {text-align: center;  height: 30px;margin: 10px 0px;}
.lineinput {  width: 200px;display: inline-block;text-align: left;}
.submit {  border-radius: 38px;color: #fff;border: none; width: 110px;height: 36px;line-height: 36px;}
.addPrizes {color: #0099ff;}

/*活动类型start*/
.ActivityGroups {   padding: 40px 20px;  width: 100%;  float: left; background: #f7f7f7;}
.ActivityGroups .graycolor { border: 2px solid #ddd;  color: #ddd; }
.ActivityGroups .graycolor  .ActivityGroupImg {background-color:#ddd;}
.hotcolor {background-color:#f65564;}
.hotbordercolor {border: 2px solid #f65564;  color: #f65564;}
.holidaycolor {background-color:#f8b62c;}
.holidaybordercolor {border: 2px solid #f8b62c;  color: #f8b62c;}
.stockcolor {background-color:#71ba36;}
.stockbordercolor {border: 2px solid #71ba36;  color: #71ba36;}
.ActivityGroupName {float: left;  margin-right: 20px;cursor:pointer;}
.ActivityGroupName .ActivityGroupImg {width: 336px;height: 100px;vertical-align: middle;padding-top: 20px;padding-left:25px;}
.ActivityGroupName .ActivityGroupstatus {  font-size: 14px;height: 40px;padding-top: 10px;}
.ActivityGroupName .ActivityGroupstatus .num{  margin-left: 10px;}
.ActivityGroupName .running {float:left;width: 33%;text-align: center;border-right: 1px solid;}
.ActivityGroupName .unreleased {float:left;width: 33%;text-align: center;border-right: 1px solid;}
.ActivityGroupName .invalid {float:left;width: 33%;text-align: center;}

/*活动类型end*/


/*活动详情*/
.Activitydesc {width:1140px;}
.EventDataOperation {margin:30px 30px 10px 30px;}
.EDO_opt {display:inline-block;width: 100%;margin: 10px 0px;}
.EDO_opt .commonBtn {float:left;margin-right: 7px;width:70px;}
.EDO_data {display:inline-block;margin: 10px 0px 23px 0px;width: 100%;}
.EDO_export {text-align:left;}
.prizecount {background-color:#f7f7f7;width: 615px;height: 250px;border-radius: 10px;border: 1px solid #e0e0e0;  float: left;margin-right: 20px;  padding:0px 25px;font-size:16px;}
.fansmember {font-size:17px;}
.fansdata {background:url(../images/fans.png) no-repeat 35px center;  background-color:#f7f7f7;color:#3bc76e;border-radius: 10px;border: 1px solid #e0e0e0;  float: left;width: 430px;height: 120px;margin-bottom: 10px;padding-left: 170px; padding-top: 27px;}
.fansnum {  font-size: 30px;line-height: 40px; }
.memberdata {background:url(../images/member.png) no-repeat 35px center;  background-color:#f7f7f7;color:#527ed5;border-radius: 10px;border: 1px solid #e0e0e0;  float: left;width: 430px; height: 120px;padding-left: 170px; padding-top: 27px;}
.membernum {font-size: 30px;line-height: 40px; }
.prizecount{color:#f86b19;}
.prizedata {background:url(../images/prize.png) no-repeat 40px center;   width: 100%;height: 155px;border-bottom: 1px solid #e0e0e0;padding-left:225px;  padding-top: 25px;}
.prizedata .num {font-size: 50px;line-height: 70px;}
.prizedata .desc {font-size: 20px;line-height: 30px;}
.Sales {background:url(../images/ActivitySales.png) no-repeat 40px center;   width: 100%;height: 155px;border-bottom: 1px solid #e0e0e0;padding-left:225px;  padding-top: 25px;}
.Sales .num {font-size: 50px;line-height: 70px;}
.Sales .desc {font-size: 20px;line-height: 30px;}
.parizetype .parizecontainer {float:left;width:180px;  padding: 20px 0px 20px 50px;}
.parizetype .parizecontainer .value span{font-size: 20px;line-height: 31px;}
.parizetype .w280 {width:280px;}
.verticalLine {  width: 0px;height: 35px;float: left;border-left: 1px solid;  margin-top: 30px;}

.prizeExtend {  float: left;width: 100px;line-height:30px;  font-size: 15px;background:url(../images/tips.png) no-repeat 65px center;}
.exportbtn {width:70px;   float: right;margin-right: 35px;}
.viewlist {line-height: 30px;color: #00a0e8;}

.EventDataCount{  margin: 30px;text-align: left;}
.EventDataCount .fans {width:500px; border-radius: 10px;border: 1px solid #e0e0e0;line-height:30px;float:left;margin-right:60px;  margin-bottom: 10px;}
.EventDataCount .fans .title{padding:10px 15px 10px 45px;height:55px;border-bottom: 1px solid #e0e0e0;background:url(../images/fansicon.png) no-repeat 10px center;  }
.EventDataCount  .commonBtn{float:right;width:70px;}
.EventDataCount .register {width:500px;border-radius: 10px;border: 1px solid #e0e0e0;line-height:30px;float:left;}
.EventDataCount .register .title{padding:10px 15px 10px 45px;height:55px;border-bottom: 1px solid #e0e0e0;background:url(../images/membericon.png) no-repeat 10px center;  }
.EventDataCount .content {width:497px;height:290px;}
.EventDataCount .ActivitySales {width:500px; border-radius: 10px;border: 1px solid #e0e0e0;line-height:30px;float:left;margin-right:60px;  margin-bottom: 10px;}
.EventDataCount .ActivitySales .title{padding:10px 15px 10px 45px;height:55px;border-bottom: 1px solid #e0e0e0;background:url(../images/sales.png) no-repeat 10px center;  }
.EventDataCount .ActivityOrder {width:500px;border-radius: 10px;border: 1px solid #e0e0e0;line-height:30px;float:left;}
.EventDataCount .ActivityOrder .title{padding:10px 15px 10px 45px;height:55px;border-bottom: 1px solid #e0e0e0;background:url(../images/order.png) no-repeat 10px center;  }


/*活动清单 */
.ActivityOperation {  line-height: 60px;}
.ActivityDateLayer {float:left;  margin-left: 42px;color:#a3a3a3;}
.ActivityDateLayer .ActivityDate{}
.exportlist {width:70px;float:right;  margin: 15px;}


