<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--本地测试-->
    <!--<add key="url" value="http://localhost:23346/ApplicationInterface/Gateway.ashx?"/>-->
    <add key="url" value="http://localhost:2330/ApplicationInterface/Vip/VipGateway.ashx?" />
    <!--测试环境-->
    <!--<add key="url" value="http://115.29.10.228:9004/ApplicationInterface/Gateway.ashx?"/>-->
    <!--正式-->
    <!--<add key="url" value="http://www.o2omarketing.cn:9015/ApplicationInterface/Gateway.ashx?"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>