<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--本地测试-->
    <!--<add key="url" value="http://localhost:23346/ApplicationInterface/Gateway.ashx?"/>-->

    <add key="url" value="http://localhost:2330/ApplicationInterface/Vip/VipGateway.ashx?"/>
    <!--测试环境-->
    <!--<add key="url" value="http://115.29.10.228:9004/ApplicationInterface/Gateway.ashx?"/>-->
    <!--正式-->
    <!--<add key="url" value="http://www.o2omarketing.cn:9015/ApplicationInterface/Gateway.ashx?"/>-->
  </appSettings>
</configuration>