<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Conn" value="server=www.o2omarketing.cn; database=cpos_bs; Integrated Security=False; user id=dev; password=dev-12013!;"/>

    <!--模拟测试的客户ID-->
    <add key="customer_id" value="29E11BDC6DAC439896958CC6866FF64E" />
    <add key="user_id" value="1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
