@charset "utf-8";
.queryTermArea{width: 100%;position: relative;}
.optionBtn .batch{ position:relative;background:url("../images/jiantouD.png") 90% center no-repeat #00a0e8;}

.commonBtn{width: 90px;}
.panelTab{display: none;z-index: 32;position: absolute;top:0;left: 0;background-color:#fff;width: 90px;border: 1px solid #d0d5d8;border-radius: 3px;}
.panelTab p{border-bottom: 1px solid #fff;display: inline-block;color: #fff;height: 33px;line-height:33px;text-align: center;width: 100%;background-color: #00a0e8;}
.panelTab p.on{ color: #00a0e8;}
.submit{ display:none}

.optionPanel{width: 1120px; height: 460px; margin: 0 auto;padding-top: 15px;}
.optionPanel .contentDiv{ float:left; }
.optionPanel .explain{ height: 40px; font-size: 12px; line-height: 40px;color: #666}
.optionPanel .explain em{float: left;}
.optionPanel .explain span{ float: left;}
.optionPanel .explain span a{ float: left;margin-left:22px; display: inline-block;color: #00a0e8}
.optionPanel .explain  .optBtn{ float: right; color: #00a0e8;cursor: pointer;}
.optionPanel .explain .searchBtn{ height: 30px; width: 70px; float: right;}
.optionPanel .explain .commonSelectWrap{margin:0 10px;}
.optionPanel .content{border:1px solid #e1e7ea; height: 430px;border-radius: 6px; overflow-y: auto; position: relative; }
.optionPanel .center{width: 570px; margin: 0 10px; }
.optionPanel .center .content{overflow-y: hidden;}
.optionPanel .tree-node{ height: 30px;}
.optionPanel .tree-node-selected{background:#d9f1fc;}

.optionPanel .tree-title {color: #666; line-height: 30px;}
.tree-expanded {
    background: url('../images/tree-expanded.png') no-repeat;
}
.tree-expanded-hover {
    background: url('../images/tree-expanded-hover.png') no-repeat;
}
.tree-collapsed {
    background: url('../images/tree-collapsed.png') no-repeat;
}
.tree-collapsed-hover {
    background: url('../images/tree-collapsed-hover.png') no-repeat;
}
.tree-node-hover{
    background:#d9f1fc;
}
.tree-expanded,
.tree-collapsed,.tree-checkbox{
    display: inline-block;
    width: 20px;
    height: 30px;
    vertical-align: top;
    overflow: hidden;
    background-position:center center;
}
.tree-checkbox0{ background-image:url("../images/check.png")}
.tree-checkbox2 { background-image:url("../images/solidChek.png")}
.tree-checkbox1{ background-image:url("../images/checkon.png")}
#unitTreeSelect .tree-title{width: 258px;height: 40px;line-height: 40px; text-align: center}
#unitTreeSelect .tree-title .delete{float: right;height: 40px;}
#unitTreeSelect .tree-expanded,
#unitTreeSelect .tree-collapsed,#unitTreeSelect .tree-checkbox{
    display: inline-block;
    width: 20px;
    height: 40px;
    vertical-align:middle;
    overflow: hidden;
    background-position:center center;
}
#unitTreeSelect  .tree-node{height: 49px;line-height:49px; border-bottom:1px solid #e1e7ea;}
#unitTreeSelect .tree-node.bg{background-color:#f2f2f2;height: 40px;line-height:40px}
#unitTreeSelect .bg  .tree-title{ text-align: left;}

#unitTreeSelect  li .tree-node-selected{background:#d9f1fc}
/*只有多个sql的时候显示边框*/
/*.datagrid-body td.datagrid-td-merged{ border: 1px solid #e1e7ea; border-top: 1px solid transparent;} */
.datagrid-body .datagrid-editable td{text-align: left;}
.dataMessage1{width: 567px;height: 30px;position: absolute;top: 58px;text-align: center; display: none}
.tipInfo{width:25px;cursor: pointer;position:absolute;right: 0;top:0;height: 25px;line-height: 25px;border-radius: 12px;background: #00a0e8;text-align: center;font-size: 18px;color: #fff;}
.tipPanel{width: 25px;height: 60px;position: absolute;right: 0;top:30px;z-index: 1000;}
.tipInfoText{display:none;background: url("../images/tipbg.png") no-repeat center center;padding-top:31px; padding-left:24px; padding-right:30px;width: 388px;height: 407px;position: absolute;right: -20px;    z-index: 100;top: 40px;}
.tipInfoText p{padding-left: 17px; line-height: 26px;font-size: 14px; background:url("../images/tuoyuan.png") no-repeat left 10px;color: #999;}
.tipInfoText p b{ color: #666; font-weight: bold; }

#girdForm td[field="ck"]{border-right: 1px solid #e1e7ea;}
#girdForm td[field="ItemName"]{border-right: 1px solid #e1e7ea;}
#girdForm  .datagrid-header-row  td{ border-right: 1px solid transparent;}
.datagrid-header-check,
.datagrid-cell-check {
    width: 40px;
    height: 20px;
    background-position: center center;

}
.semiangle .datagrid-cell-check{
    background-image: url("../images/solidChek.png");

}
