@charset "utf-8";
body{font:12px/1.2em '宋体';background:#ebebf2;color:#383838;}
.page-720{width:720px;min-height:500px;margin:0 auto;}
.header{height:50px;background:#4d7dad;}
.header .logo{float:left;width:65px;height:65px;margin:5px 10px 0 15px;text-indent:-9999em;background:url(../css/images/logo.png) no-repeat 0 0;}
.header .tit{float:left;line-height:32px;margin-top:12px;padding-left:10px;font-size:18px;border-left:3px solid #ebebf2;color:#ebebf2;}
.content{padding:40px 15px;}
.hint{padding:15px 20px;border-bottom:1px solid #4d7dad;}
.info{padding:15px 0;}
.info span{float:left;width:37%;line-height:16px;text-align:center;color:#000;}
.info span i{color:#f00;}
.info .wTag{width:25%;border-left:1px solid #4d7dad;border-right:1px solid #4d7dad;}
/*table*/
.tabStyle{height:320px;min-height:320px;border:1px solid #4d7dad;background:#fff;}
table{border-collapse:collapse;margin:0 auto;width:100%;text-align:center;}
tr{border-bottom:1px solid #4d7dad;}
th{line-height:42px;background:#4d7dad;color:#fff;}
td{line-height:55px;}
table a{text-decoration:underline;color:#4d7dad;}
.copyright{text-align:center;margin-top:40px;color:#5c5c5c;}
/*detail*/
.wrapArea{width:375px;margin:20px auto;padding:0 15px;border:1px solid #4d7dad;background:#fff;color:#383838;}
.wrapArea p{margin:15px 0;line-height: 16px;}
.wrapArea em{display:inline-block;width:65px;margin-right:15px;text-align:right;font-weight:bold;}
.wrapArea .tit{font-weight:bold;}