@charset "utf-8";
.contentArea_vipquery{background:#f4f8fa;}
.queryTermArea{ background:none;width:100%;padding: 30px 15px 0 30px; }
.queryTermArea  .panelList{width:100%; text-align: center; border: 1px solid #d8d8d8; border-radius:8px 8px 0 0;}
.commonSelectWrap  { position: relative;}
.commonSelectWrap .selectBox{ border: 1px solid transparent;}
.commonSelectWrap .selectBox .textbox{ float: left}
.commonSelectWrap .selectBox .text{ float: left; width: 30px; text-align: center}
.commonSelectWrap .checkBox.position{right:-58px; top:6px; position: absolute}

.title{ height: 57px; background:#f2f2f2; border-bottom:1px solid #d8d8d8;border-radius:8px 8px 0 0; }
.title li{cursor: pointer;  width:33.33333%; height: 56px; line-height: 56px;  float:left; text-align:center; font-size: 17px; font-weight:600; color:#3d3e40;  border-right:1px solid #d8d8d8; }
.title li.on{ background:#fff;}
.title li span{ position:relative}
.title li span em{width:33px; height: 33px; left: -52px; position: absolute; top: -8px; color:#fff; line-height: 33px; background:url(../images/yuan.png) no-repeat left center}
.title li.on span em{ background:url(../images/yuanHover.png) no-repeat left center}
.title li.one{ border-radius: 8px 0 0 0;}
.title li.borderNone{ border:none}
.panelDiv{display: none;text-align: center; }
.line{border-bottom: 1px solid #d0d5d8; margin:0 auto; width:95%; display:inline-block; margin-top: 20px; padding-bottom: 20px;}
.linePanel{ width: 506px;}
.linePanel .radio{ margin-top: 4px;}
.line .radio span{ padding:0;}

#nav01 .commonSelectWrap{ margin:10px 10px 10px 0}
#nav01 .commonSelectWrap .tit{ width:auto;}
.hint{ color: #cc0000; line-height: 35px; }


.tagPanel{display: inline-block; position: relative; padding: 30px;font-size:14px;border-bottom:1px solid #d8d8d8;  padding-right: 55px; width: 100%; text-align: left;}
.tagPanel .checkBoxPanel{ line-height: 35px; height: 35px; margin-bottom: 20px;}
.tagPanel .checkBoxPanel .inputDiv{ width: 100%; float: left;}
.tagPanel .checkBoxPanel .inputDiv .checkBox{ float: left; margin-top: 8px; }
.tagPanel .checkBoxPanel .inputDiv .textbox {margin: 0 12px;}
.tagPanel .commonBtn{ display: block; background: #00a0e8; width: 90px; height: 32px; float: right;line-height: 32px;}
.templatePanel{border-bottom:1px solid #d8d8d8;display: inline-block; width: 100%;  margin-bottom: 20px;}
.tagPanel .templatePanel .commonSelectWrap .tit {width: 58px;}
.tagPanel .templatePanel .commonSelectWrap .selectBox{ width:auto;}
.tagPanel .templatePanel .commonSelectWrap .combo{ margin-right: 20px;}
.tagPanel .templatePanel .commonBtn{ margin-top: 10px;}
.tagPanel .templatePanel .panelSel{ width: 685px; height: 176px;}
.tagPanel .templatePanel .text{ width: 620px; height: 85px; border: 1px solid #d0d5d8; float: right;margin-top: 15px;}
.tagPanel .templatePanel .text textarea { width:100%; height: 100%;}
.tagPanel .tablePanel{width: 100%; display:none;}
.tagPanel .tablePanel .gridTable{width: 100%;display: block;}
.lineTitle{ text-align: left; width:100%;padding-left: 30px; color: #333;font-size: 16px; border: 1px solid #e0e0e0;background: #eaeff2; height: 39px; line-height: 39px; }

.textAddBtn{color: #00a0e8; width: 50px;cursor: pointer; font-size: 14px; height: 18px; text-align: left; position: absolute; left:96px; bottom:20px;}

.ticketList{ width:600px; padding-left: 20px; display: inline-block; }
.ticketList .ticket{ width:100%; height: 65px; padding-top: 21px; display: inline-block;border-bottom: 1px solid #ececec; }
#win .layout-body{border-bottom: 1px solid #d8d8d8;}


.optPanel{ float: right;}
.optPanel .hint{ float: right; margin-right: 10px;}

.btnopt{margin: 20px auto; width:380px; display: block;}
.btnopt .commonBtn.cancel{ background-color: #cccccc}
.btnopt .commonBtn.bgWhite{display:none;}

.tablePanel .datagrid{ border-left:1px solid #e1e7ea;}

.checkBoxList{padding-left:8px; width: 278px; height: 100px; float: left; }
.borderNone{ border: 1px solid  transparent;border-bottom:none; background: none}
.bgColor{ background-color: #efefef}
.bgColor input{ background-color: #efefef}
.bgCcc{background-color: #ccc}

.deletebtn {
    display: block;
    background: #00a0e8;
    width: 50px;
    height: 32px;
    float: right;
    line-height: 32px;
      border-radius: 4px;
  font-size: 12px;
      display: block;
  height: 30px;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  color: #fff;
  margin-top: 12px;
}