@charset "utf-8";

.zsy{clear: both;font-size:0px; line-height:0px; display:block;}
.commonSelectWrap .selectBox{ border: 1px solid transparent;}
.optionBtn{height:65px; padding-top: 20px; background: #f4f8fa; border: solid  1px #eee; border-bottom:none;}
.optionBtn .commonBtn{  background: #00cccc;line-height: 32px; height:32px; float: left; margin-left: 20px;}
.optionBtn .sales{ width: 132px;}
.optionBtn .sales img{margin-top: -3px; margin-right: 5px;}
.moreQueryWrap{ float: left;margin-top: 12px;}
.commonSelectWrap .selectBox{ border: 1px solid transparent;}
.start{background-image:url(../images/start.png); width: 16px; height: 16px; margin: 0 auto;}
.end{background-image:url(../images/end.png); width: 16px; height: 16px; margin: 0 auto;}
.opt{ float:left; margin-right: 10px; }
.dataMessage{ text-align: center;  font-size: 14px; line-height: 35px; display: none}