@charset "utf-8";
/*首页*/
html,body,body>section{height:100%;}
body{background:#ebebeb;-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}
.commonTopBg{display:block;margin:0 auto;}
/*topBanner*/
.vipClipBanner{position:relative;margin-bottom:15px;padding:15px 25px;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #3d3d3d));background-image:-moz-linear-gradient(top, #666, #3d3d3d);}
.vipClipBanner .picWrap{position:relative;max-width:545px;margin:0 auto;}
.vipClipBanner .banner{display:block;margin:0 auto;}
.vipClipBanner.bannerImgMoveOut{
    margin-left:-100%;
    -webkit-transform:scale(0);
    -webkit-transition:all 1s;
}
.vipClipBanner .receiveMask{position:absolute;bottom:0;left:0;width:100%;height:50%;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #333));background-image:-moz-linear-gradient(top, #666, #333);}

.vipClipBanner .receiveBtn{display:block;-webkit-transform:scale(1);position:absolute;top:50%;left:50%;margin:-20px 0 0 -55px;width:110px;height:42px;text-align:center; letter-spacing:1px;font:16px/42px "宋体";border-radius:3px;-webkit-box-shadow:0 3px 0px #007fb4;background:#01a1e3;color:rgba(255,255,255,0.9);}
.vipClipBanner .receiveBtnHide{-webkit-transform:scale(0);left:-100px;-webkit-transition:all 1s;}
.vipClipBanner .receiveBtnShow{-webkit-transform:scale(1);left:50%;-webkit-transition:all 1s;}
.vipClipBanner .infoWrap{position:absolute;bottom:15px;left:15px;font-size:12px;color:#4a4a4a;}
.vipClipBanner .infoWrap .grade{margin:6px 0;}
.vipClipBanner .card{font-size:16px;font-weight:bold;font-family:"Arial";color:#EBEBEB;}
/*commonList*/
.commonFeatureList{}
.commonFeatureList ul{margin-bottom:15px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.commonFeatureList li{position:relative;background:#fff;}
.commonFeatureList li a{display:-webkit-box;display:-moz-box;margin-left:25px;height:50px;line-height:50px;font-size:15px;font-weight:bold;border-bottom:1px solid #ccc;color:#333;}

.commonFeatureList ul li:nth-last-child(1) a{border-bottom:none;}
/*.commonFeatureList li:after{content:'';position:absolute;top:20px;right:20px;width:10px;height:10px;border:1px solid #ccc;border-width:0 1px 1px 0;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);transform:rotate(-45deg);}*/

.commonFeatureList li em{display:block;width:35px;background:url(../../../images/common/vipCard/commonIcon.png) no-repeat;background-size:20px 350px;}
.commonFeatureList .vipTit{background-position:2px 16px;}
.commonFeatureList .storeTit{background-position:2px -305px;}
.commonFeatureList li span{display:block;-webkit-box-flex:1;-moz-box-flex:1;}
.commonFeatureList li strong{margin-right:10px;padding:5px 13px;border-radius:15px;background:#ff611b;color:rgba(255,255,255,0.9);}
.commonFeatureList .qyTit{background-position:2px 16px;}
.commonFeatureList .xgTit{background-position:2px -35px;}
.commonFeatureList .bdTit{background-position:2px -98px;}
.commonFeatureList .ddTit{background-position:2px -162px;}
.commonFeatureList .zxTit{background-position:2px -212px;}
.commonFeatureList .dzTit{background-position:2px -262px;}
.commonFeatureList .mdTit{background-position:2px -305px;}

/*注册*/
.registerFormArea{position:fixed;top:50%;left:5%;width:90%;min-height:360px;margin-top:-180px;background:#fff;z-index:990;}
.registerFormArea .closeBtn{float:right;width:30px;height:30px;margin:10px 10px 5px;background:url(../../../images/common/vipCard/closeBtn.png) no-repeat;background-size:100%;}
.registerFormArea .tit{clear:right;font-size:18px;font-weight:bold;text-align:center;color:#222;}
.registerFormArea .formBox{height:205px;overflow:auto;padding:20px 20px 0;}
.registerFormArea .formBox p{min-height:45px;border-bottom:1px solid #ccc;}
.registerFormArea .formBox input,.registerFormArea .formBox select{border:none;height:35px;width:100%;margin-top:6px;padding-left:10px;}
.registerFormArea .formBox select{line-height:35px;}
.registerFormArea .formBox textarea{width:100%;height:90px;padding:13px 5px;border:none;box-shadow:none;color:#333;}
.registerFormArea .formBox em{float:left;margin-top:13px;font-weight:bold;color:#666;}
.registerFormArea .formBox lable{display:table-cell;width:3000px;height:45px;}
.registerFormArea .submitBtn{display:block;width:110px;height:40px;line-height:40px;margin:25px auto;text-align:center;border-radius:3px;box-shadow:0 2px 0 #e34b00;letter-spacing:5px;font:16px/42px "宋体";background:#f60;color:rgba(255,255,255,0.9);}


/*会员卡领取后的页面c*/
.memberCardInfoArea{}
.memberCardInfoArea .vipClipBanner{margin-bottom:0px;}
.memberCardInfoArea .showInfo{width:100%;height:60px;margin-top:-1px;display:-webkit-box;display:-moz-box;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #3d3d3d), color-stop(1, #2d2d2d));background-image:-moz-linear-gradient(top, #3d3d3d, #2d2d2d);color:rgba(255,255,255,1);}
.memberCardInfoArea .showInfo>div{height:46px;padding-top:2px;-webkit-box-flex:1;-moz-box-flex:1;border-right:2px solid #9d9d9d;}
.memberCardInfoArea .showInfo>div:nth-last-child(1){border-right:none;}
.memberCardInfoArea .showInfo span{display:block;line-height:22px;text-align:center;font-size:13px;font-weight:bold;}
.memberCardInfoArea .showInfo .num{font:bold 14px/22px "Arial";}

/*账号绑定*/
.accountBindingArea{position:fixed;z-index:990;top:50%;right:10px;left:10px;margin-top:-115px;padding:10px;background:#fff;}
.accountBindingArea .exp{clear:right;margin:10px 0 15px -15px;font-size:13px;color:#e60012;-webkit-transform:scale(0.9);}
.accountBindingArea .inputBox{}
.accountBindingArea .inputBox>p{height:45px;margin-bottom:6px;display:-webkit-box;display:-moz-box;}
.accountBindingArea .inputBox em{display:block;line-height:45px;margin-right:5px;font-size:13px;font-weight:bold;}
.accountBindingArea .inputBox input{display:block;height:40px;padding-left:7px;-webkit-box-flex:1;-moz-box-flex:1;border:1px solid #ccc;border-radius:5px;}
.accountBindingArea .vCodeBtn{display:block;height:40px;line-height:40px;margin-left:5px;padding:0 15px;border-radius:5px;font-size:12px;box-shadow: 0 2px 0 #f60;
background: #ff8331;color: rgba(255,255,255,0.9);}

.accountBindingArea .submitBtn{display:block;width:100%;height:45px;line-height:45px;margin-top:10px;text-align:center;border-radius:5px;font-size:15px;font-weight:bold;letter-spacing:5px;background:#f60;color:rgba(255,255,255,0.9);}

.accountBindingArea .closeBtn{float:right;width:30px;height:30px;background:url(../../../images/common/vipCard/closeBtn.png) no-repeat;background-size:100%;}

.mask{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
}

.myCard{
    position:fixed;
    width: 100%;
    z-index: 99;
    bottom: 0;
    margin:0 auto;
    -webkit-transform: rotate(180deg);
    -webkit-transform:scale(0.4);
}
.moveCenter{
    bottom:50%;
    -webkit-transform:scale(0.8);
    -webkit-transform: rotate(360deg);
    -webkit-transition:all 1s;
}
.moveTop{
    bottom: 65%;
    -webkit-transform: scale(0.9) rotateX(20deg);

    -webkit-transition:all 1s;
}
/*点击Li的背景状态*/
.commonFeatureList .on{
	background: rgba(0,0,0,.05);
}
/*
 *新版会员卡的资料修改样式 
 **/
input[type="radio"]{vertical-align:middle}
input[type="checkbox"]{vertical-align:middle}
label,input[type="button"],input[type="submit"],button,.button{cursor:pointer;border:none;outline:none;padding:0;margin:0;}
input[type="text"],textarea{background:#fff;color:#aaa;border:1px solid #ddd;
-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;
transition:border linear 0.2s,box-shadow linear 0.2s;
-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
-webkit-border-radius:3px;
border-radius:3px}
input[type="text"]:focus,textarea:focus{border-color:#52a8ec;outline:0;color:#333;
-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(82,168,236,0.6);
box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(82,168,236,0.6);}
/*通用样式*/
a{color:#333;text-decoration:none}
a:hover{color:#333}
:focus{outline:none}
.al{text-align:left}.ac{text-align:center}.ar{text-align:right}
.fl{float:left}.fr{float:right}.ti{text-indent:-9999px;overflow:hidden}
.hide{display:none}
/*通用字体和颜色*/
h1{font-size:18px;font-weight:400}h2,h3{font-size:16px;font-weight:400}h4,h5,h6{font-size:14px;font-weight:400}
.f14{font-size:14px}.f16{font-size:16px}
.white{color:#fff}
.black{color:#000}
.red{color:#ff6b50}
.pink{color:#fa719f}
.blue{color:#047fe5}
.yellow{color:#ffa453}
.orange{color:#FF7800}
.gray{color:#aaa}
/*清除浮动*/
.clear{display:block;clear:both;overflow:hidden;height:0;line-height:0;font-size:0}
.clearfix:after{content:" ";visibility:hidden;display:block;clear:both;height:0;font-size:0}
.clearfix{*zoom:1}
/*补丁*/
.blank5{height:5px;font-size:0;clear:both;visibility:hidden}
.blank10{height:10px;font-size:0;clear:both;visibility:hidden}
.blank15{height:15px;clear:both;visibility:hidden}
.blank20{height:20px;clear:both;visibility:hidden}
.blank25{height:25px;clear:both;visibility:hidden}
.blank30{height:30px;clear:both;visibility:hidden}
.blank40{height:40px;clear:both;visibility:hidden}
.mt-5{margin-top:5px}.mt-10{margin-top:10px}.mt-15{margin-top:15px}.mt-20{margin-top:20px}
.mr-5{margin-right:5px;display:inline}.mr-10{margin-right:10px;display:inline}.mr-15{margin-right:15px;display:inline}.mr-20{margin-right:20px;display:inline}
.mb-5{margin-bottom:5px}.mb-10{margin-bottom:10px}.mb-15{margin-bottom:15px}.mb-20{margin-bottom:20px}
.ml-5{margin-left:5px;display:inline}.ml-10{margin-left:10px;display:inline}.ml-15{margin-left:15px;display:inline}.ml-20{margin-left:20px;display:inline}
.br-2{-webkit-border-radius:2px;border-radius:2px}
.br-5{-webkit-border-radius:5px;border-radius:5px}
/*public*/
* {-webkit-box-sizing:border-box;box-sizing:border-box}
.dis_box {display:-webkit-box;display:-ms-flexbox}
.box_flex1 {-webkit-box-flex:1;flex:1;}
.box_justify {-webkit-box-pack:justify;box-pack:justify}
.box_center {-webkit-box-pack:center;box-pack:center}
.box_a_center {-webkit-box-align:center;box-align:center}
.popup-modify { width:90%; position:absolute; top:50px; left:20px; z-index:1000; background-color:#fff;}
.popup-modify h4 { height:40px; line-height:40px; text-align:center; background-color:#FF8331; color:#fff;}
.popup-modify h4 i { background:#FFB787 url(../../../images/common/vipCard/icon01.png) no-repeat 5px 4px; background-size:20px auto; -webkit-border-radius:50%;border-radius:50%; display:inline-block; width:30px; height:30px; vertical-align:-9px;}
.popup-modify-wrap { padding:10px;}
.popup-modify-wrap dl { margin-bottom:15px;}
.popup-modify-wrap dd { margin-top:5px;}
.popup-modify-wrap dd input[type="text"] { width:100%; padding:7px; background-color:#F5F5F5;-webkit-box-shadow:none;box-shadow:none;}
.popup-modify-wrap dd.fr { margin-left:10px;}
.popup-modify-wrap dd.fr input[type="button"] { width:80px; height:36px; background-color:#fe7c23; color:#fff; /*-webkit-box-shadow:0 3px 0 rgba(227,75,0,0.8);*/
/*box-shadow:0 3px 0 rgba(227,75,0,0.8);*/-webkit-border-radius:3px;border-radius:3px;}
.popup-modify-wrap dd.fl { position:relative;}
.popup-modify-wrap dd.fl a { display:block; width:49px; height:38px; position:absolute; top:0; right:0; color:#fe7c23; font-size:12px; padding-top:2px; text-align:center;}
.popup-modify-wrap dd.fl a:before {content:'︳'; color:#D6D6D6; font-size:16px; position:absolute; left:-10px; top:8px;}

.popup-modify-m { border-top:1px dashed #ccc; padding-top:30px; margin-top:30px;}
.popup-modify-wrap dd.gray { font-size:12px;}
.select-form { width:100%; height:40px; background-color:#F5F5F5;border:1px solid #ddd;-webkit-border-radius:3px;border-radius:3px; display:-webkit-box;display:box;background: #fff url(../../../images/common/vipCard/moreIcon.png) no-repeat 98%;}
.select-form span { display:block;-webkit-box-flex:1;flex:1; position:relative;}
.select-form select { padding:7px; border:0; background-color:#F5F5F5;}
.select-form span:before {content:'︳'; color:#D6D6D6; font-size:20px; position:absolute; left:0; top:5px;}
.select-form span:first-child:before { display:none;}
.popup-modify-b { padding:20px 0;}
.popup-modify-b input { width:100%; height:40px; background-color:#fe7c23; color:#fff; -webkit-box-shadow:0 3px 0 rgba(227,75,0,0.8);
box-shadow:0 3px 0 rgba(227,75,0,0.8);-webkit-border-radius:3px;border-radius:3px;}
/*新版样式结束*/