@charset "utf-8";
body { background:#E1E5E8;}
header li a,.search_box dt:before,.search_box dd input[type="button"],.ads i,.type_info dd .infoBox p i,.order_status p i,.slide_tiger a i,.detail .contact p a i { background:url(../images/sprites.png) no-repeat 0 0;}
.store_list li:active,.type_ads a:active { background:#F0F0F0;}
.store_list li .infoBox span b,.type_info dd .infoBox p span b,.type_list_top b,.type_list li .infoBox span b,.order_status p b,.order_tel b,.order_info dd p,.detail_info dt h2 b,.detail .contact p a,.order_info li:last-child b { color:#fd3c02;}

.type_ads a,.type_list li a,.order_tel a,.order_info a { position:relative;}
.type_ads a:after,.type_list li a:after,.order_tel a:after,.order_info a:after {content: '';width:8px;height:8px;border-right: 2px solid #B6B6B6;border-top: 2px solid #B6B6B6;-webkit-transform: rotate(45deg);transform: rotate(45deg);
position: absolute;right: 12px;top: 50%;margin-top: -4px;display: block;}


header { height:40x; background:#0076B3; padding:5px 0;}
header li { float:right; margin:0 10px;}
header li:first-child { float:left;}
header li a { display:block; width:30px; height:30px; background-size:30px auto; text-indent:-9999px; overflow:hidden;}
header li:nth-child(1) a { background-position:4px 6px;}
header li:nth-child(2) a { background-position:5px -125px;}
header li:nth-child(3) a { background-position:3px -80px;}
header li:nth-child(4) a { background-position:3px -36px;}

.wrap { padding:15px 10px;}

.select_box,.detail_info { background:#fff; padding:15px 10px; border:1px solid #C9CDCE; border-bottom:0; border-top-color:#D9DDDE;}
.bot { background:url(../images/bot_bg.png) repeat-x 0 0; height:5px; background-size:contain;}
.select_box dl { border-bottom:1px dashed #ccc; padding:15px 0; line-height:24px;}
.select_box dt { float:left; width:90px; font-size:16px;}
.select_box dd { position:relative; color:#b2b2b2;}
.select_box dd:after {content:''; width:8px; height:8px; border-right:1px solid #555; border-top:1px solid #555; -webkit-transform:rotate(45deg); transform:rotate(45deg);position:absolute; right:12px; top:50%; margin-top:-4px; display:block;}
.select_box input[type="button"] { margin-top:50px; height:35px; color:#fff; background:#FD3C01; width:100%;-webkit-border-radius:5px;border-radius:5px}

.search_box { border-bottom:1px solid #fff; background:#EFEFEF;}
.search_box dl {display:-webkit-box; padding:5px 10px;}
.search_box dt { position:relative; width:70%; height:32px; padding:4px 4px 4px 30px; border-color:#B6BABB #D3D7D8 #fff #D3D7DA; border-width:1px; border-style:solid;-webkit-border-radius:5px;border-radius:5px; background:#E1E5E8;}
.search_box dt:before {content:""; position:absolute; left:8px; top:4px; width:20px; height:20px; background-position:0px -212px; background-size:22px auto;}
.search_box dt input[type="text"] { width:100%; background:#E1E5E8; border:0;-webkit-box-shadow:none;box-shadow:none; padding:0;}
.search_box dd { margin-left:10px;}
.search_box dd input[type="button"] { width:36px; height:30px; background-color:#0076B3; text-indent:-9999px; overflow:hidden;-webkit-border-radius:3px;border-radius:3px; background-size:22px auto;}
.search_box dd:nth-child(2) input[type="button"] { background-position:10px -237px;}
.search_box dd:nth-child(3) input[type="button"] { background-position:11px -267px;}

.store_list { background:#fff;}
.store_list li,.type_list li { border-top:1px solid #ccc; padding:10px;}
.store_list li a,.type_list li a,.order_info a { display:-webkit-box;}
.store_list li .imgBox,.type_list li .imgBox,.order_info dt { width:38%; margin-right:10px;}
.store_list li .imgBox img,.type_list li .imgBox img,.type_info dd .imgBox img,.order_info dt img { width:100%;}
.store_list li .infoBox,.type_list li .infoBox,.order_info dd { width:58%;}
.store_list li .infoBox hgroup p,.type_list li .infoBox hgroup p { color:#666;}
.ads { margin-top:5px; color:#666;}
.ads i { display:inline-block; width:16px; height:18px; background-position:0 -417px; background-size:30px auto; vertical-align:-4px;}
.store_list li .infoBox span { float:right; margin-top:10px;}
.store_list li .infoBox span b,.type_list li .infoBox span b { font-size:16px;}

.mod { background:#fff; border:1px solid #ccc; margin-bottom:10px;}
.type_info { padding:10px;}
.type_info dt { border-bottom:1px dashed #ccc; padding-bottom:10px; margin-bottom:5px;}
.type_info dt span { font-size:12px; color:#999; padding-left:10px;}
.type_info dd { display:-webkit-box;} 
.type_info dd .imgBox { width:38%; margin-left:20px; position:relative;}
.type_info dd .imgBox p { height:20px; line-height:20px; color:#fff; font-size:12px; background:rgba(0,0,0,.5); position:absolute; left:0; bottom:0; width:100%; text-align:center;}
.type_info dd .infoBox { width:54%;}
.type_info dd .infoBox p:first-child { margin-bottom:15px;}
.type_info dd .infoBox p span { padding-right:10px; color:#666;}
.type_info dd .infoBox p i { display:inline-block; width:18px; height:20px; margin-right:20px; vertical-align:-4px;}
.type_info dd .infoBox p i.icon_wifi { background-position:0px -372px; background-size:25px auto;}
.type_info dd .infoBox p i.icon_dinner { background-position:0px -320px; background-size:20px auto;}
.type_info dd .infoBox p em { float:right; color:#666; font-size:12px;}

.type_ads a { display:block; padding:10px 15px;}

.type_list_top { height:35px; line-height:35px;display:-webkit-box; background:#FFF2EC;}
.type_list_top span { display:block; padding-left:15px;}
.type_list_top span:nth-child(1),.type_list_top span:nth-child(2) { width:40%;}
.type_list_top span:nth-child(3) { width:20%;}

.type_list li a { padding-right:15px;}
.type_list li a:after { right:2px;}
.type_list li .infoBox span { float:right; text-align:center;}
.type_list li .infoBox span em { display:block; width:50x; height:20px; line-height:20px; color:#fff; font-size:12px; background:#FD3C01; margin-top:20px;}
.type_list li .infoBox h2 { margin-bottom:5px;}

.mod_order { padding:10px 15px;}
.order_status p i { float:right; width:22px; height:22px; background-color:#FD3C01; background-position:5px -345px; background-size:20px auto;}
.order_tel a { display:block;}
.order_info h3 { margin-bottom:10px;}
.order_info dl { border-bottom:1px solid #CECECE; padding:10px 0;}
.order_info dd span { float:right; text-align:right; font-size:12px;}
.order_info dd p { margin-top:20px;}
.order_info a { padding-right:25px;}

.total { border-top:2px solid #FD3C01; background:#fff; width:100%; padding:5px 10px; height:47px; line-height:35px; color:#fd3c02;}
.total a { float:right; width:90px; height:35px; line-height:35px; text-align:center; color:#fff; background:#FD3C02;}

.slide { width:300px; height:220px; position:relative; overflow:hidden; margin:0 auto;}
.slide_tiger { height:35px; background:rgba(0,0,0,.5); padding:10px 15px; position:absolute; left:0; bottom:0; width:100%;display:-webkit-box;-webkit-box-flex:1;-webkit-box-pack:center;}
.slide_tiger a { color:#fff;}
.slide_tiger a.btn_colt i { display:inline-block; width:25px; height:22px; background-position:0px -467px; background-size:25px auto; vertical-align:-6px;}
.slide_tiger a.btn_share i { display:inline-block; width:30px; height:22px; background-position:0px -442px; background-size:22px auto; vertical-align:-7px;}
.slide_tiger ol { width:60%; text-align:center;}
.slide_tiger ol li {-webkit-border-radius:50%;border-radius:50%; display:inline-block; width:10px; height:10px; background:#fff; margin:0 5px;}
.slide_tiger ol li.cur { border:2px solid #fff; background:#FE0200; width:14px; height:14px; vertical-align:-2px;}

.detail_info dt { border-bottom:1px dashed #ccc; padding-bottom:15px; margin-bottom:10px;}
.detail_info dt h2 { color:#799fbc; font-size:18px; line-height:30px; margin-bottom:20px;}
.detail_info dt h2 b { font-size:14px; padding-left:10px;}
.detail_info dt h2 a { float:right; width:100px; height:30px; line-height:30px; text-align:center; color:#fff; font-size:14px; background:#FD3C01;}
.detail_info dt p span { padding-right:10px; color:#666;}
.detail_info dd { padding-left:25px;}
.detail_info dd i { display:inline-block; width:20px; height:20px; font-size:12px; line-height:20px; text-align:center; color:#fff; background:#FD3C01; margin-left:-25px;}

.detail { background:#fff;}
.detail nav { background:#eee; width:100%; height:45px;}
.detail nav ul {display:-webkit-box;-webkit-box-flex:1;-webkit-box-pack:center;}
.detail nav ul li { width:25%; line-height:45px; text-align:center;}
.detail nav ul li a { display:block; width:100%; height:100%; position:relative;}
.detail nav ul li.cur a { background:#fff; color:#0e7bd6;}
.detail nav ul li a:after {content: '|'; width:1px; height:45px; font-size:16px; color:#9FA2AB; position:absolute; right:-1px; top:0; display:block;}
.detail article { padding:15px 20px;}
.detail article h4 { margin-bottom:20px;}
.detail article p { margin-bottom:20px;}
.detail .contact { padding:15px 20px;}
.detail .contact h4 { text-align:center; color:#047fe5; margin-bottom:10px;}
.detail .contact h3 { font-size:18px; color:#3f76a4; margin-bottom:10px;}
.detail .contact p { line-height:25px; color:#5c6372;}
.detail .contact p a i { display:inline-block; vertical-align:-4px; width:15px; height:22px; background-size:25px auto; background-position:2px -549px;}

.feed_list { padding:15px 20px;}
.feed_list dl { margin-bottom:20px;}
.feed_list dt { margin-bottom:10px; color:#ff6b50;}
.feed_list dt h4 { color:#3f76a4;}
.feed_list dt p { font-size:12px; color:#666;}

.order_info li { padding:10px 0; border-bottom:1px dashed #CBCBCB;}
.order_info li p { margin-top:5px;}
.order_info li p input[type="text"] { color:#333; padding:5px 10px;}
.order_info li p.fore { border:1px solid #ddd; width:164px;}
.order_info li p.fore input[type="button"] { background:#F1F1F1; padding:4px 10px; font-size:16px;}
.order_info li p.fore input[type="text"] { border:0;-webkit-box-shadow:none;box-shadow:none; width:100px; text-align:center;}
.order_info li .table { margin:5px -16px;}
.order_info li th { color:#FD3C02; border-bottom:1px solid #FD3C01; background:#F1F1F1; padding:10px 5px; text-align:center;}
.order_info li td { background:#F1F1F1; padding:10px 5px; border:1px solid #ccc;}
.order_info li:last-child { border:none;}

.btn_date {display:-webkit-box; text-align:center; margin-bottom:20px;}
.btn_date a { width:40%;-webkit-box-flex:1; height:60px; padding:5px 10px; display:block;border:1px solid #ccc; background:#fff; margin-left:20px;}
.btn_date .active { border:1px solid #F2805C; background:#F5EEDC;}

.btn_date dt { font-size:16px; position:relative;}
.btn_date a dt:before {content:""; position:absolute; left:0; top:1px; width:20px; height:20px; background-size:27px auto;}
.btn_date a:first-child dt:before { background-position:0px -226px;}
.btn_date a:last-child dt:before { background-position:0px -189px;}
.btn_date dd span:first-child { float:left;}
.btn_date dd span:last-child { float:right;}

.cui_cldunit { margin-bottom:15px; background:#fff; text-align:center;}
.cui_cldmonth { height:50px; line-height:50px; color:#fd3c02; font-size:18px;}

.cui_cldweek { width:100%; height:30px;}
.cui_cldweek li { float:left; width:14%;}
.cui_cldweek li:first-child,.cui_cldweek li:last-child { color:#ff902d}

.cui_cld_daybox { overflow:hidden;}
.cui_cld_daybox li { float:left; width:13%; height:48px; line-height:45px; padding:4px 0; margin:0 1px;}
.cui_cld_daybox li:nth-child(7n),.cui_cld_daybox li:nth-child(7n+1) { width:15%; color:#ff902d}
.cui_cld_day_nocrtmonth {visibility:hidden}
.cui_cld_day_havetxt em,.cui_cld_nopro em,.cui_cld_haspro em,.cui_cld_daycrt em { display:block; line-height:20px; font-size:12px}
.cui_cld_day_havetxt i,.cui_cld_nopro i,.cui_cld_haspro i,.cui_cld_daycrt i { display:block; line-height:15px; font-size:12px}
.cui_spandate {line-height:22px;display:block}
.cui_cld_daybox li.cui_cld_daypass {color:#cfcfcf!important}
.cui_cld_daycrt {background:#FA3C02;color:#fff!important}

.loc_bot { height:50px; background:#FD3C01; padding:10px 20px;}
.loc_bot dl {display:-webkit-box; text-align:center;}
.loc_bot dt { color:#fff; font-size:12px; width:60px;}
.loc_bot dt i { display:block; margin:0 auto; background-position:5px -110px; background-size:20px auto; width:20px; height:20px;}
.loc_bot dd { width:40%;-webkit-box-flex:1;}
.loc_bot dd a { display:block; height:34px; line-height:34px; color:#fff; border:2px solid #fff; font-size:16px; text-align:center;}
.loc_bot dd.cur a { background:#fff; color:#fd3c02;}

.order_detail{height: auto; color: #666;}
.order_detail dl { border-bottom: 1px dotted #cccccc; }
.order_detail dt { overflow: hidden;line-height: 40px; height: 40px;  }
.order_detail .goods_num dt { float:left;}
.order_detail .goods_num dd input[type="button"]{background-color:#fff; border:1px solid #ccc; width:26px; height:26px;
background-image:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#e9e9e9));
background-image:-webkit-linear-gradient(top, #fff, #e9e9e9);}
.order_detail .goods_num dd input[type="text"] { border-radius:0px;-webkit-border-radius:0px;height:26px; padding:4px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; border-left:0; border-right:0; width:30px; text-align:center;}
.dvboder { border: 1px #EDEDED solid; background: #F9F9F9; padding: 10px; color: #333333; margin: 0 0 10px 0; border-radius: 5px; }
.order_detail dl dt em { color: #fd3c02;font-weight: bold; font-size: 14px;}

.btn_date dd span:last-child { float:right;}

.cui_cldunit { margin-bottom:15px; background:#fff; text-align:center;}
.cui_cldmonth { height:50px; line-height:50px; color:#fd3c02; font-size:18px;}

.cui_cldweek { width:100%; height:30px;}
.cui_cldweek li { float:left; width:14%;}
.cui_cldweek li:first-child,.cui_cldweek li:last-child { color:#ff902d}

.cui_cld_daybox { overflow:hidden;}
.cui_cld_daybox li { float:left; width:13%; height:48px; line-height:45px; padding:4px 0; margin:1px;}
.cui_cld_daybox li:nth-child(7n),.cui_cld_daybox li:nth-child(7n+1) { width:15%; color:#ff902d}
.cui_cld_day_nocrtmonth {visibility:hidden}
.cui_cld_day_havetxt em,.cui_cld_nopro em,.cui_cld_haspro em,.cui_cld_daycrt em { display:block; line-height:20px; font-size:12px}
.cui_cld_day_havetxt i,.cui_cld_nopro i,.cui_cld_haspro i,.cui_cld_daycrt i { display:block; line-height:15px; font-size:12px}
.cui_spandate {line-height:22px;display:block}
.cui_cld_daybox li.cui_cld_daypass {color:#cfcfcf!important}
.cui_cld_daycrt {background:#FA3C02;color:#fff!important}

.loc_bot { height:50px; background:#FD3C01; padding:10px 20px;}
.loc_bot dl {display:-webkit-box; text-align:center;}
.loc_bot dt { color:#fff; font-size:12px; width:60px;}
.loc_bot dt i { display:block; margin:0 auto; background-position:5px -110px; background-size:20px auto; width:20px; height:20px;}
.loc_bot dd { width:40%;-webkit-box-flex:1;}
.loc_bot dd a { display:block; height:34px; line-height:34px; color:#fff; border:2px solid #fff; font-size:16px; text-align:center;}
.loc_bot dd.cur a { background:#fff; color:#fd3c02;}

.order_detail{height: auto; color: #666;}
.order_detail dl { border-bottom: 1px dotted #cccccc; }
.order_detail dt { overflow: hidden;line-height: 40px; height: 40px;  }
.order_detail .goods_num dt { float:left;}
.order_detail .goods_num dd input[type="button"]{background-color:#fff; border:1px solid #ccc; width:26px; height:26px;
background-image:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#e9e9e9));
background-image:-webkit-linear-gradient(top, #fff, #e9e9e9);}
.order_detail .goods_num dd input[type="text"] { border-radius:0px;-webkit-border-radius:0px;height:26px; padding:4px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; border-left:0; border-right:0; width:30px; text-align:center;}
.dvboder { border: 1px #EDEDED solid; background: #F9F9F9; padding: 10px; color: #333333; margin: 0 0 10px 0; border-radius: 5px; }
.order_detail dl dt em { color: #fd3c02;font-weight: bold; font-size: 14px;}


.calendar { border: 1px solid #CCC; margin: 0 0 20px 0; overflow: hidden; width: auto; background: #f1f1f1; width: 100%; clear: both; }
.calendar .outer { width: 100%; overflow: hidden; }
.calendar table { border-collapse: separate; border-spacing: 3px; display: inline; float: left; margin-right: 10px; width: 100%; }
.calendar .week { background: #f1f1f1; }
.calendar .week th { background: #f1f1f1; color: #F60; font-weight: bold; font-size: 14px; height: 26px; line-height: 26px; overflow: hidden; width: 63px; text-align: center; }
.calendar .tdline { border: 1px solid #cccccc;}
.calendar td { border-radius: 3px 3px 0 3px; height: 60px; line-height: 18px; width: 60px; text-align: center; vertical-align: middle; overflow: hidden; position: relative; }
.calendar td em { font-family: Arial; font-size: 14px; }
.calendar td em.money { color: #F60; font-weight: bold; font-size: 14px; }


/*20140209 订单列表和订单详情*/
.order_list dt { border-bottom:1px solid #5C5C5C; padding-bottom:10px; margin-bottom:10px;}
.order_list dt a { float:right; margin-left:5px; width:55px; height:25px; line-height:25px; text-align:center; color:#fff;-webkit-border-radius:15px;border-radius:15px}
.order_list dt a:first-child { background:#666}
.order_list dt a:nth-child(2) { background:#FD3C01}
.order_list dt h3,.order_detail h3 { color:#0076b3;}
.order_list dd,.order_detail li:nth-child(2) { display:-webkit-box;}
.order_list dd span b,.order_detail li span b { color:#ff3300;}
.order_list dd span,.order_detail li span { width:auto;-webkit-box-flex:1; display:block; line-height:36px;}
.order_list dd span:first-child,.order_detail li span:first-child { line-height:18px;}
.order_detail li { padding:5px 0; border-bottom:1px solid #5C5C5C;}
.order_detail li:last-child { border:none;}

.total2 { border-top:2px solid #FD3C01; background:#fff; width:100%; display:-webkit-box;-webkit-box-flex:1;-webkit-box-pack:center; padding:5px 10px; height:47px; line-height:35px; color:#fd3c02;}
.total2 a { display:block; width:35%; height:35px; line-height:35px; text-align:center; color:#fff;}
.total2 a:first-child { background:#FD3C01}
.total2 a:last-child { background:#666; margin-left:50px;}