.centreArea .commonMenu li {margin-bottom:0px;}
.centreArea .commonMenu {border-right: 1px solid #ededed;}
.centreArea .contentArea {border-left: none;}
/*common*/
.commonBtn{background:#fe7c24;}
.commonTitle{border-left:4px solid #fe7c24;}
.commonTitleBox .getBack{background:url(../../images/skin/bg02/getBack.png) no-repeat right center;}

/*表格*/
.tablehandle .selectBox{background:#fff url(../../images/skin/bg02/selectIcon02.png) no-repeat 90% center}
.dataTable .title{border-bottom:2px solid #fe7c24;}
.dataTable .title th{*border-bottom:2px solid #fe7c24;}
.dataTable .title span{background:url(../../images/skin/bg02/selectIcon02.png) no-repeat right center;}
.dataTable tr{border-bottom:1px solid #c9d7ec;}
.dataTable tbody td{*border-bottom:1px solid #fedbc3;}
.dataTable tbody tr:hover{background:#feebdd;}
.dataTable tbody tr:hover .joinBtn{background:#fe7c24;}
.dataTable .checkBox.on em{background:url(../../images/skin/bg02/radio2.png) no-repeat center center;}
.dataTable .links{color:#fe7c24;}
.dataTable .operateWrap .editIcon{background:url(../../images/skin/bg02/editIcon.png) no-repeat center center;}
.dataTable .operateWrap .delIcon{background:url(../../images/skin/bg02/delIcon.png) no-repeat center center;}
.dataTable .operateWrap .minusIcon{background:url(../../images/skin/bg02/minusIcon.png) no-repeat center center;}
.dataTable .selectListBox span{color:#fe7c24;}
/*复选框*/
.checkBoxWrap label.on{background:url(../../images/skin/bg02/radio3.png) no-repeat left center;}
/*表格的菜单*/
.tableMenu a.on{border-bottom:3px solid #fe7c24;color:#fe7c24;}
/*添加资讯*/
.addInfoArea .classInput .selectBox{background: #fff url(../../images/skin/bg02/selectIcon02.png) no-repeat 85px center;}
.addInfoArea .radioBox.on em{background:url(../../images/skin/bg02/radio3.png) no-repeat center center;}
.topIssuesInfo .getBack{background:url(../../images/skin/bg02/getBack.png) no-repeat right center;}
/*弹框*/
.commdialog .row .selectBox{background:#fff url(../../images/skin/bg02/selectIcon02.png) no-repeat 107px center;}
/*头部的微信，设置信息，退出*/
.commonHeader .setBox{background:url(../../images/skin/bg02/userIcon.png) no-repeat left center;}
.commonMenu li:hover{border-top-right-radius:5px;border-bottom-right-radius:5px;background:#fe7c24;}
.commonMenu li:hover a{color:#fff;}
.commonSelectWrap .selectBox{background:#fff url(../../images/skin/bg02/selectIcon02.png) no-repeat 120px center;}
.selectDateBox p{background:#fbfbfb url(../../images/skin/bg02/dateIcon.png) no-repeat 80px center;}
.moreQueryWrap .more{background:url(../../images/skin/bg02/moreQuery.png) no-repeat right 4px;color:#2d83cf;}
/*登录页*/
.loginState em.on{background:url(../../images/skin/bg02/checkbox03.png) no-repeat 0px center;}


/***公共的头部，导航，logo，信息***/
.commonHeader{border-bottom:3px solid #fe7c24;}
.commonHeader .logo{background:url(../../images/alading/logo.png) no-repeat 0 0;}
.commonNav li {  margin-right:18px; }
.commonNav li a{color:#b5b5b5;}
.commonNav li.on a{color:#fe7c24;}


.commonNav .nav001 a{background:url(../../images/alading/bg02/nav007.png) no-repeat 0 center;}
.commonNav .nav002 a{background:url(../../images/alading/bg02/nav001.png) no-repeat 0 center;}
.commonNav .nav003 a{background:url(../../images/alading/bg02/nav002.png) no-repeat 0 center;}
.commonNav .nav004 a{background:url(../../images/alading/bg02/nav003.png) no-repeat 0 center;}
.commonNav .nav005 a{background:url(../../images/alading/bg02/nav006.png) no-repeat 0 center;}
.commonNav .nav006 a{background:url(../../images/alading/bg02/nav008.png) no-repeat 0 center;}
.commonNav .nav007 a{background:url(../../images/alading/bg02/nav004.png) no-repeat 0 center;}
.commonNav .nav008 a{background:url(../../images/alading/bg02/nav005.png) no-repeat 0 center;}

.commonNav .nav001.on a{background:url(../../images/alading/bg02/on-nav007.png) no-repeat 0 center;}
.commonNav .nav002.on a{background:url(../../images/alading/bg02/on-nav001.png) no-repeat 0 center;}
.commonNav .nav003.on a{background:url(../../images/alading/bg02/on-nav002.png) no-repeat 0 center;}
.commonNav .nav004.on a{background:url(../../images/alading/bg02/on-nav003.png) no-repeat 0 center;}
.commonNav .nav005.on a{background:url(../../images/alading/bg02/on-nav006.png) no-repeat 0 center;}
.commonNav .nav006.on a{background:url(../../images/alading/bg02/on-nav008.png) no-repeat 0 center;}
.commonNav .nav007.on a{background:url(../../images/alading/bg02/on-nav004.png) no-repeat 0 center;}
.commonNav .nav008.on a{background:url(../../images/alading/bg02/on-nav005.png) no-repeat 0 center;}
/*全局菜单*/
.commonMenu li.on a{color:#fe7c24;}
.commonMenu li.on:hover a{color:#fff;}

/******查询*****/
/*头部简单查询*/
.commonSelectWrap .searchBtn{float:right;width:64px;height:32px;}

/*头部 全查询*/
.allQueryTermArea .pointerIcon{background:url(../../images/alading/bg02/pointer.png) no-repeat 0 0;color:#fe7c24;}
.allQueryTermArea .digF{color:#fe7c24;}
.allQueryTermArea .minF{color:#333;}
.allQueryTermArea .recentBtn{color:#fe7c24;}
.allQueryTermArea .drawBtn{background:#fbfbfb url(../../images/alading/bg02/arr02.png) no-repeat 60px center;color:#3f97fe;}


/*登录页*/
.loginPage .name{background:url(../../images/alading/bg02/loginLogo.png) no-repeat left center;}
.loginFooterMenu .item01{background:url(../../images/alading/bg02/item01.png) no-repeat center 50px;}
.loginFooterMenu .item02{background:url(../../images/alading/bg02/item02.png) no-repeat center 50px;}
.loginFooterMenu .item03{background:url(../../images/alading/bg02/item03.png) no-repeat center 50px;}
.loginFooterMenu .item04{background:url(../../images/alading/bg02/item04.png) no-repeat center 50px;}
.loginFooterMenu .item05{background:url(../../images/alading/bg02/item05.png) no-repeat center 50px;}

