@charset "utf-8";
#kkpager{ clear:none}
#simpleQuery .icon_add{margin:15px 0 15px 20px;}
.commonSelectWrap .wh80{ width: 80px;}
#addExpress{padding:0 50px;}
#addExpress .commonSelectWrap{display:block;float:none;}
