<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--本地测试-->
    <add key="url" value="http://localhost:1877/ApplicationInterface/Gateway.ashx?"/>
    
    <!--关于我们-->
    <!--<add key="url" value="http://localhost:2430/ApplicationInterface/AppVersion/AppVersionGateway.ashx?"/>-->
    
    <!---->
    <!--<add key="url" value="http://localhost:23130/ApplicationInterface/Event/EventGateway.ashx?"/>-->

    <!--商品详情--><!--
    <add key="url" value="http://localhost:23130/ApplicationInterface/Module/UnitAndItem/Item/Item.ashx?"/>-->

    <!--linken视频分类-->
    <!--<add key="url" value="http://localhost:23130/ApplicationInterface/LEventsAlbum/LEventsAlbumGateway.ashx?"/>-->
    

    <!--测试环境-->
    <!--<add key="url" value="http://115.29.10.228:9004/ApplicationInterface/Gateway.ashx?"/>-->
    <!--正式-->
    <!--<add key="url" value="http://www.o2omarketing.cn:9015/ApplicationInterface/Gateway.ashx?"/>-->
  </appSettings>
</configuration>