<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=EmulateIE7' />
<meta name="viewport" content="width=device-width,  maximum-scale=1.0, minimum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title id="HeaderTitle">房间详情</title>
<!--[if IE]>  
<script type="text/javascript" src="js/msie.js"></script>
<![endif]-->
<script>
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {WeixinJSBridge.call('hideToolbar');});
</script>
</head>

<body  >
<div class="PcBox" id="PcBox" style="width:100%; margin-left:auto; margin-right:auto; overflow:hidden; display:none;">
  <div class="DetailBigBox" id="DetailBigBox"></div>
  <div class="MenuBox" id="MenuBox"></div>
</div>
<div class="loading" style="position:absolute; display:none;"><img src="images/382.gif" width="40" height="40" /></div>
<script type="text/javascript">
var loadMore = '';
var Von = 'GetData.getItemDetail();GetData.setBrowseHistory()'; //  
var srcc = document.createElement("script"); srcc.setAttribute("src","js/base.js?v="+Math.random());document.body.appendChild(srcc);</script> 
<script id="appDetail" type="text/template"> 
<div id="wrapper" class="DetailImg" style="overflow: hidden;">
  <div id="scroller" class="DetailImgIeo" >
    <ul>
		<% _.each(imageList,function(item){ %>
     	 <li style="width:<%= w %>px"><img style="width:<%= w %>px;" src="<%= item.imageURL%>"></li>
      <% })%>
    </ul>
  </div>
  <div class="KzDGrayTOP"></div>
  <div class="KzDGray"></div>
  <dl id="indicator">
  <% _.each(imageList,function(item,key){ %>
    <dd <% if(key==0){%>class="active" <%}%>><%= key+1 %></dd>
	 <% })%>
  </dl>
</div>
<div class="DetailSmallBox">
  <div class="DetailSmallBoxYW">
  	<div class="DetailmdkINner"><% _.each(skuList,function(itemc){ %><div class="DetailmdkZv">￥
<span class="qian" style="font-size:24px;">
		<%= itemc.salesPrice %>
		</span>

元</div><%if(isShoppingCart=="0"){%><div class="DetailmdkZBtn"><a class="DetailActionBtn" shref="submitOrder.html?itemId=<%= itemId %>" onclick="Vip.setShoppingCart('<%= itemc.skuId %>')" href="javascript:void(0)">预订</a></div><%}else{%> <div class="DetailmdkZBtn"><a class="DetailActionBtn" style="background:#999" href="javascript:void(0)">已预订</a></div><%}%></div>
	 <% })%>
  	<h1><%= itemName %></h1>
    <h2>房间描述</h2>
    <div class="EPSdg"><%= useInfo %>
      </div>

  </div>
<div class="vipCartBoxBottom"></div>
</div>

</script>

</body>
</html>
