@charset "utf-8";
.contentArea{ margin: 0;}

#leftMenu{display: none;}
.mainPanel{ width: 1262px; display: block;  margin: 0 auto;padding-bottom: 30px; margin-top: 24px;}
.panelTitle{ height: 40px; background-color: #f7f7fa; border-bottom: 1px solid #f0f0f2;padding-left: 12px;border-radius: 6px 6px 0 0; }
.panelTitle p{height: 40px;background:url("../image/iconTitle.png") no-repeat left center;text-align: left; padding-left: 16px; line-height: 40px;color: #7a7a7a;}
.panelTitle p.titleP{background-image:url("../image/titleBg.png"); padding-left: 25px; }
.panelTitle p.titleP1{background-image: url("../image/titleBg1.png");padding-left: 25px}
.panelTitle p.titleP2{background-image: url("../image/titleBg2.png");padding-left: 25px}
.borderAll{border: 1px solid #f0f0f2; border-radius: 6px 6px 0 0; }

.onePanelDiv{height: 306px;}
.oneLi{width: 315px; height: 220px;  float: left;}
.oneLi p{ height:40px; line-height: 40px; color: #666666; padding-left: 18px; font-size: 14px;text-align: left}
.onePanel{width: 314px; height:187px; border-right: 1px solid #f0f0f2;text-align: center; position: relative; }
.ricePanel{ width: 132px; height: 132px;position: relative; margin: 0 auto;}
.rice{ width: 132px; height: 132px;position:absolute; clip:rect(0px,132px,132px,0px); border-radius: 66px; background: #ffd2d2; }
.pieL{  width:132px; height:132px; background-color:#ff4d4d;  border-radius:100px;  position:absolute; clip:rect(0px,66px,132px,0px); transform:rotate(180deg);  }
.holdL {position:absolute; clip:rect(0px,66px,132px,0px);  }
.hold{  width: 132px;  height: 132px;  position: absolute;}
.pieR {width:132px; height:132px; background-color:#ff4d4d;  border-radius:66px; position:absolute; clip:rect(0px,132px,132px,66px);transform:rotate(180deg)}
.holdR { clip: rect(0px,132px,132px,66px); }
.minRice{ width: 116px;height: 116px; border-radius:58px; position: absolute; top: 8px; left: 8px; background-color: #fff; z-index:5;}
.minRice{ line-height: 116px; text-align: center; font-size: 40px;background-repeat: no-repeat;  background-position:center center; }

.noData .rice{ background-color:#f7f7fa}
.noData .minRice{ border:1px  solid #e8e8eb}
.bg01{ background-image:url("../image/icon_01.png");   }
.bg02{ background-image:url("../image/icon_02.png") }
.bg03{ background-image:url("../image/icon_03.png") }
.color3Hover{background-color: #75be3b}
.textPanel{ padding-top:30px; width: 100%; height: 132px}
.textPanel p{ width: 100%;height:35px; line-height: 35px; display: block; font-size: 14px;}
.textPanel p .tit{width: 88px; text-align: right;float: left;}
.textPanel span{float: left; margin: 3px;}
.textPanel.panelBg{background: url("../image/noData.png") no-repeat 120px center;}
.Rectangle_0 {
    background-image: -moz-linear-gradient(180deg, rgb(208, 243, 180) 0%, rgb(190, 237, 151) 100%);
    background-image: -webkit-linear-gradient(180deg, rgb(208, 243, 180) 0%, rgb(190, 237, 151) 100%);
    background-image: -ms-linear-gradient(180deg, rgb(208, 243, 180) 0%, rgb(190, 237, 151) 100%);
    width: 108px;
    height: 26px;
}
.Rectangle_1 {
    background-image: -moz-linear-gradient( 180deg, rgb(147,217,91) 0%, rgb(113,186,54) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(147,217,91) 0%, rgb(113,186,54) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(147,217,91) 0%, rgb(113,186,54) 100%);
    width: 146px;
    height: 26px;
}

.onePanelDiv .bottom{height: 35px; text-align: center; margin-top:20px; color: #999999; font-size: 12px;}
.onePanelDiv .bottom .l{width: 156px; height: 35px ;border-right: 1px solid #f0f0f2;}
.onePanelDiv .bottom .r{width: 156px;}
.onePanelDiv .centerDiv{ width: auto; display: inline-block;margin: 0 auto;}
.onePanelDiv .bottom p{height: 13px;line-height: 13px;padding-left:0;width: auto;display: block;margin: 0 auto;}
.onePanelDiv .bottom p em{width: 10px;height: 10px;border-radius: 5px;display: inline-block;margin-right: 8px;}
.onePanelDiv .bottom p.red{color:#ff4d4d;font-size: 14px;line-height: 36px;padding-left: 18px;}
.onePanelDiv .bottom p.red i{ font-size: 18px;}

.color0{ background-color: #ffd2d2}
.color0Hover{background-color: #ff4d4d}
.color1{background-color: #d9f1fc}
.color1Hover{background-color: #47bbff}
.color2{background-color: #ffe29c}
.color2Hover{background-color: #ffb80d}
.color3{background-color: #d0f3b4}

.twoPanelDiv{ height: 320px;margin-top:20px;}
.twoPanelDiv .leftDiv{ width: 1000px;height: 320px; float: left; }
.twoPanelDiv .percent{float:left;margin: 30px 0 0 20px;background: url(../image/percent.png) no-repeat;width: 273px;height: 221px;position: relative;text-align: center;}
.twoPanelDiv .percent .rice_1{ width: 96px; height: 96px; position: absolute; top:70px;}
.twoPanelDiv .percent .rice_2{ width: 74px; height: 74px; position: absolute; top:30px;left: 120px}
.twoPanelDiv .percent .rice_3{ width: 74px; height: 74px; position: absolute; top:120px;left: 120px}
.twoPanelDiv .percent p{ color: #ff4d4d; }
.twoPanelDiv .percent em{font-size: 12px;margin-top: 15px; display: block; margin-bottom: 10px;}
.twoPanelDiv .percent p i{ font-size: 16px;}
.rice_1 p{ font-size: 26px;}
.two .percent .rice_1 em{font-size: 14px; margin-top: 20px; display: block; margin-bottom: 17px;}
.rice_2 p, .rice_3 p{ font-size: 24px;}
.twoPanelDiv .panelData{width: 700px;float: right;margin-top: 30px;height: 221px;}
.twoPanelDiv .panelData .line{height: 50px; display: block;margin-bottom: 36px;width: 100%}
.twoPanelDiv .panelData .line .data{width: 170px;float: left;padding-left: 3px;position: relative;height: 50px;display: block;}
.twoPanelDiv .panelData .line .data em{font-size: 14px;color: #999;margin-bottom: 10px;display: inline-block;}
.twoPanelDiv .panelData .line .data p{border-bottom: 0;font-size: 20px;height: 20px;color: #00a0e8;position: absolute;white-space: nowrap}
.twoPanelDiv .panelData .line .data p i {margin-left: -5px;font-size: 14px;height:14px;color: #999;display: inline-block;width: 70px;padding-left: 30px;position: absolute;border-bottom: 0;}
.twoPanelDiv .panelData .line .data p i.up{ background: url("../image/up.png") no-repeat 12px bottom; }
.twoPanelDiv .panelData .line .data p i.down{ background: url("../image/down.png") no-repeat 12px bottom;}
.twoPanelDiv .panelData .line .data p b{ font-size: 14px}
.twoPanelDiv .panelData .line .data p span{margin-left: -5px;}
.twoPanelDiv .rightDiv{  height: 320px;}
.rightDiv{ width: 240px; float: right; text-align: center;}
.rightDiv .btnList{width: 158px;height: 180px;margin: 0 auto;padding-top: 56px;text-align: left;}
.rightDiv .btnList p{border: 2px solid #038efe;width: 158px;display:block;height: 39px;margin-bottom:22px;border-radius: 19px;padding: 0 37px 0 34px;color: #01a1ff;font-size: 13px;line-height: 35px;}
.rightDiv .btnList p{cursor: pointer; background: url("../image/target.png") no-repeat 121px center;}
.threePanelDiv{ height: 380px; margin-top: 20px; }
.threePanelDiv .rightDiv .btnList{padding-top: 115px;}
.threePanelDiv .rightDiv{height: 380px;}
.threePanelDiv .tableDiv{width: 243px; height: 380px; margin-right: 10px; float: left;}
.threePanelDiv .panelTitle{ background: url("../image/jiantou.png") no-repeat 222px center #f7f7fa;}
.threePanelDiv .bg{ background-image: url("../image/jiantou1.png");}
.threePanelDiv .datagrid-header{ border: none; background: #fff;}
.threePanelDiv .datagrid{ border:none;}
.threePanelDiv  .datagrid-header td,.threePanelDiv .datagrid-body td,.threePanelDiv .datagrid-footer td { cursor:default;border: 1px solid transparent;}
.threePanelDiv .datagrid-row-over{background-color:#fff;} /*鼠标停靠*/
.threePanelDiv .datagrid-row-selected{background-color: #fff; }
.threePanelDiv .datagrid-row,.threePanelDiv .datagrid-header-row{height: 30px;}

.rightDiv .panelTitle{ background: none; }

.imgPanel{ padding-left:20px;}
.twoPanelDiv .panelData .line .data.w180{ width: 186px;}

.twoPanelDiv .panelData .line .data.w200{ width: 200px;}
.twoPanelDiv .panelData .line .data.w130{ width: 130px;}





