<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="APConn" value="user id=dev;password=jit!2014;data source=112.124.68.147;database=cpos_ap;"/>
    <add key="Conn" value="user id=dev;password=jit!2014;data source=112.124.68.147;database=cpos_bs;"/>
    <add key="Conn_lj" value="user id=dev;password=jit!2014;data source=112.124.68.147;database=cpos_bs_lj;" />
  </appSettings>
</configuration>