<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=EmulateIE7' />
<meta name="viewport" content="width=device-width,  maximum-scale=1.0, minimum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link href="css/Event.css" type="text/css" rel="stylesheet" />
<title id="HeaderTitle">2013中欧校友新年音乐会“同策之夜” 暨2013中欧校友年度人物颁奖仪式——在线报名</title>
</head>

<body>
<div class="PcBox" id="PcBox" style=" overflow:hidden; display:none;">
  <div class="banner" style="z-index:9; position:relative;"><img src="images/musicbg.jpg?v2" width="100%"></div>
  <div style="position:relative; z-index:8; top:-5px;" id="ConnextID"> </div>
</div>
<div style="opacity:0.5; background-color:#000; z-index:99; position:absolute; left:0; top:0; width:100%; display:none; " id="appbg"></div>
<div style=" background-color:#ffffff; z-index:100; width:280px; display:none;  height:380px; padding-top:10px; position:absolute; left:0; top:0;" id="appbgBox">
  <table width="100%" border="0" class="aosd">
    <tr>
      <td width="50" align="right"><div style="text-align:right; font-weight:bold;"><span class="zh"><span style="color:red; font-weight:bold;">*</span>姓名</span><span class="en"><span style="color:red; font-weight:bold;">*</span>Name</span></div></td>
      <td><span style="height:10px;" class="blank1 zh" ></span>
        <input type="text" value="" id="userName" class="classINput" >
        <div class="zh" style="font-size:12px;">（中国籍学生请务必使用中文名）</div></td>
    </tr>
    <tr>
      <td  align="right"><div style="text-align:right; font-weight:bold;"><span class="zh"><span style="color:red; font-weight:bold;">*</span>班级</span><span class="en"><span style="color:red; font-weight:bold;">*</span>Class</span></div></td>
      <td><input type="text" value="" id="userClass" class="classINput" ></td>
    </tr>
    <tr>
      <td align="right"><div style="text-align:right; font-weight:bold;"><span class="zh"><span style="color:red; font-weight:bold;">*</span>手机</span><span class="en"><span style="color:red; font-weight:bold;">*</span>Mobile</span></div></td>
      <td><input type="text" value="" class="classINput" id="userPhone" ></td>
    </tr>
    <tr>
      <td  align="right"><div style="text-align:right; font-weight:bold;"><span class="zh"><span style="color:red; font-weight:bold;">*</span>电邮</span><span class="en"><span style="color:red; font-weight:bold;">*</span>Email</span></div></td>
      <td><input type="text" value="" class="classINput" id="userEmail" ></td>
    </tr>
    <tr>
      <td align="right"><div style="text-align:right; font-weight:bold;"><span class="zh"><span style="color:red; font-weight:bold;">*</span>单位</span><span class="en"><span style="color:red; font-weight:bold;">*</span>Company</span></div></td>
      <td><input type="text" value="" class="classINput" id="company" ></td>
    </tr>
    <tr>
      <td align="right"><div style="text-align:right; font-weight:bold;"><span class="zh"><span style="color:red; font-weight:bold;">*</span>职位</span><span class="en"><span style="color:red; font-weight:bold;">*</span>Position</span></div></td>
      <td><input type="text" value="" class="classINput" id="position" ></td>
    </tr>
  </table>
  <div class="aod" style="padding-left:20px;"><a href="javascript:void(0)" onclick="Event.CacelBox()" class="appCacel"><span class="zh">取消</span><span class="en">Cancel</span></a><a href="javascript:void(0)"  class="appCacel" onclick="Event.SureSubmit()" style="background-color:#a51d1d;"><span class="zh">确定</span><span class="en">Confirm</span></a></div>
</div>
<div class="loading" style="position:absolute;  z-index:9999; left:47%; top:43%"><img src="images/382.gif" width="40" height="40" /></div>
<input type="hidden" value="bbsList" id="backPrevPosition" />
<script type="text/javascript">var Von = 'Event.EventList()';</script> 
<script type="text/javascript" src="js/base.js"></script>
<style type="text/css">
.zh{ display:block}
.en{ display:none;}
</style>
<script type="text/templete" id="EventScript">
<div class="Lang" onclick="Event.Lang(this)" lang="en" style="display:block;z-index:8">English</div>
<div class="textBox" >
  <div class="textBoxDl">
    <dl>
      <dt style="padding-top:40px;"><span class="Icnoo" style="top:40%;"><img width="100%" src="images/icn1.jpg"></span><span class="zh">2014中欧校友新年音乐会“同策之夜” 暨2013中欧校友年度人物颁奖仪式 在线报名</span><span class="en">CEIBS New Year's Concert 2014 “TOSPUR Night”&amp; CEIBS Alumni Of the Year Award Ceremony 2013 Online Application</span></dt>
      <dd style="padding-bottom:35px;"> <span class="zh">
        <p>注意事项: <br>
          1.请填写下表，手机号必须是11位，我们将使用这些信息作为您的身份验证。</p>
        <p style="margin-top:12px;">2.每位校友或在校学员只能申领一次，每次申领可得到两张邀请函。</p>
        <p style="margin-top:12px;">3.音乐会当天，凭邀请函换票进场。</p>
        <p style="margin-top:12px;">如需帮助，请致电021-28905666，谢谢。</p>
        </span> <span class="en">
        <p>Note: <br>
          1.Please fill in the form below with your name, class and mobile phone number (11 numbers) , and we'll use the info below as your identity.</p>
        <p style="margin-top:12px;">2.Each alumnus or student could only apply once to get two invitation letters.</p>
        <p style="margin-top:12px;">3.Each invitation letter could exchange one ticket in the theater.</p>
        <p style="margin-top:12px;">If you need help, please call 021-28905666, thanks.</p>
        </span> </dd>
    </dl>
  </div>
</div>
    
		  	
       

<% _.each(eventLeven1List,function(item,key){%>
 <div class="textBox" style="display:none;">
      <div class="textBoxDl">
        <dl>
          <dt><span class="Icnoo"><img src="images/icn1.jpg" width="100%"></span><span class="zh"><%=item.eventName %></span><span class="en" ><%=item.eventEnName %></span></dt>
		  <% _.each(item.eventLeven2List,function(item2){%>
		  	<% if (item2.overCount!="0"){%>
          	<dd <%if(item2.eventLeven2List.length  == 0){ %>onclick="Event.ClickCheckBox(this)"<%}%>>
				<%if(item2.eventLeven2List.length  == 0){ %>
					<%if(item2.isSignUp == "1"){ %>
					<div class="checkBox" rel="1" eventId="<%=item2.eventId  %>" ><img src="images/icn2.jpg" width="100%" /></div>
					<%}else{%>
					<div class="checkBox" rel="1" eventId="<%=item2.eventId  %>" ><img src="images/icn3.jpg" width="100%" /></div>
					<%}%>
				<%}%>
				
				<span class="zh"><%=item2.eventName  %></span>
				<span class="en" ><%=item2.eventEnName %></span>
				<%if(item2.eventLeven2List.length  != 0){ %>
					<ul class="abcp">
					<% _.each(item2.eventLeven2List,function(item3){%>
						<% if (item3.overCount!="0"){%>
						<li onclick="Event.ClickRudioBox(this,'<%=item2.eventId%>')" style="position:relative;">
							<%if(item3.isSignUp == "1"){ %>
							<div class="checkBox AUU_<%=item2.eventId%>" rel="1" style="top:15px;" eventId="<%=item3.eventId  %>" ><img src="images/icn7.jpg" width="100%" /></div>
							<%}else{%>
							<div class="checkBox AUU_<%=item2.eventId%>" rel="0"  style="top:15px;" eventId="<%=item3.eventId  %>" ><img src="images/icn9.jpg" width="100%" /></div>
							<%}%>
							<span class="zh"><%=item3.eventName  %></span>
							<span class="en" ><%=item3.eventEnName %></span>
						</li>
						<%}else{%>
							<li   style="color:#cccccc; cursor:default">
								
							<%if(item3.isSignUp == "1"){ %>
							<div class="checkBox AUU_<%=item2.eventId%>" rel="1" style="top:15px;" eventId="<%=item3.eventId  %>" ><img src="images/icn7.jpg" width="100%" /></div>
							<%}else{%>
							<div class="checkBox" rel="3" style="top:15px;" eventId="<%=item3.eventId  %>" ><img src="images/icn8.jpg" width="100%" /></div>
							<%}%>
						
							
							<span class="zh"><%=item3.eventName  %><span style="color:#a51d1d; font-size:11px;"> 席位预订已满！</span></span>
							<span class="en" ><%=item3.eventEnName %><span style="color:#a51d1d; font-size:11px;"> Registration is full</span></span>
							</li>
						<%}%>
					<% })%>
					</ul>
				<%}%>
			</dd>
			<%}else{%>
				<dd style="color:#cccccc; cursor:default">
				<%if(item2.isSignUp == "1"){ %>
					<div class="checkBox" rel="1" eventId="<%=item2.eventId  %>" ><img src="images/icn5.jpg" width="100%" /></div>
					<%}else{%>
					<div class="checkBox" rel="3" style="cursor:default" eventId="<%=item2.eventId  %>"><img src="images/icn5.jpg" width="100%" /></div>
					<%}%>
				
				
				<span class="zh"><%=item2.eventName  %>&nbsp;&nbsp;<span style="color:#a51d1d; font-size:11px;"> 席位预订已满！</span></span>
				<span class="en" ><%=item2.eventEnName %>&nbsp;&nbsp;<span style="color:#a51d1d; font-size:11px;"> Registration is full
</span></span>
				
				</dd>
			<%}%>
          <% })%>
        </dl>
		<% if(key == eventLeven1List.length -1 ){%><Span class="blank1" style="height:20px;"></Span><% }%>
	</div>
</div>
<% })%>
<% if(overCount  > 0 ){%>
<div class="bottonIn" onclick="Event.SelectDiv()" style="background-color:#a51d1d"><span class="en">Sign Up</span><span class="zh">报名参加</span></div>
<%}else{%>
<div class="bottonIn" style="background-color:#666"><span class="en"> Registration is full</span><span class="zh">席位预订已满！</span></div>
<%}%>
</script>
</body>
</html>
