<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!--客户ID  如果有多个客户，用逗号分割-->
    <add key="CustomerIDs" value="75a232c2cf064b45b1b6393823d2431e"/>   
    
    <!--每天邮件发送时间-->
    <add key="Timing" value="15:00:00"/>
    
    <!--全局邮件发送地址 如果有多个用逗号分割，没有则留空-->
    <add key="MailTo" value="jifeng.cao@jitmarketing.cn,cjf1990417@163.com"/>

    <!--是否向活动创建人发送邮件(0：否，1：是)-->
    <add key="IsSendMailToCreator" value="0"/>

    <!--邮件主题-->
    <add key="MailTitle" value="报名人员信息"/>
    <add key="Subject" value="报名人员信息，请查收附件"/>
    <add key="SmtpServer" value="smtp.exmail.qq.com"/>
    <add key="MailSendFrom" value="mailcenter@jitmarketing.cn"/>
    <add key="MailUserName" value="mailcenter@jitmarketing.cn"/>
    <add key="MailUserPassword" value="jit15d!"/>
    
    <!--获取CustomerID匹配信息-->
    <add key="Conn_ap" value="user id=dev;password=jit!2014;data source=112.124.68.147;database=cpos_ap;" />
    
    <!--附件保存路径-->
    <add key="FileURL" value="D:\Temp\EMBA\File\Excel" />
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
