body {
}
img{vertical-align: initial;}
li {list-style-type:none;}
.red {color:red;}
.green {color:green;}
/*模板页样式修改*/
#leftMenu{ display: none;}   /*隐藏左边菜单栏*/
#contentArea{ margin: 0; border: none}   /*取消右边边距和右边边框*/
#commonNav ul{ display: none;}   /*隐藏头部菜单项*/
.leftsead{ display: block;}/*隐藏页面右侧浮动导航*/
/*模块*/
.contentmodule{display: inline-block;width: 100%; min-width: 1270px;}
.modules {display: inline-block;width: 75%;float: left;  padding: 15px 0 0 15px;}
.module {  margin: 15px; display: inline-block;  width: 30%; min-width:260px;border: 1px solid #f0f0f0 ;border-radius: 5px;float: left;  max-height: 200px;}
.modulehead { cursor:pointer;  background-color: #57bcc6; padding: 17px 0;   border-top-left-radius: 5px;border-top-right-radius: 5px;display: inline-block;width: 100%;border-bottom: 1px solid #f0f0f0;}
.module:nth-of-type(1)  .modulehead { background-color: #57bcc6; }
.module:nth-of-type(2)  .modulehead { background-color: #71ba35; }
.module:nth-of-type(3)  .modulehead { background-color: #00a0e8; }
.module:nth-of-type(4)  .modulehead { background-color: #f8b62c; }
.module:nth-of-type(5)  .modulehead { background-color: #ec6313; }
.module:nth-of-type(6)  .modulehead { background-color: #e73a36; }
.modulehead .title {  display: inline-block;float: left;margin: 10px;  color: #fff;font-size: 19px;}
.modulehead .title span{   float: left;margin-top: 4px;  margin-left: 10px;}
.modulehead .title img{   float: left;}
.modulehead .gomore{  display: inline-block;float: right;margin: 10px;}
.modulecontent {color:#a8a8a8;  padding:17px 0px;  display: inline-block;width: 100%;}
.modulecontent .count {width: 50%;display: inline-block;padding: 0px 10px;  float: left;}
.modulecontent .count .numtitle {  font-size: 15px;  } 
.modulecontent .count .num {  font-size: 21px;text-align: center;line-height: 60px;color: #57bcc8; }
.module:nth-of-type(1)  .modulecontent .count .num { color: #57bcc6; }
.module:nth-of-type(2)  .modulecontent .count .num { color: #71ba35; }
.module:nth-of-type(3)  .modulecontent .count .num { color: #00a0e8; }
.module:nth-of-type(4)  .modulecontent .count .num { color: #f8b62c; }
.module:nth-of-type(5)  .modulecontent .count .num { color: #ec6313; }
.module:nth-of-type(6) .modulecontent .count .num { color: #e73a36; }
.modulecontent .achievement {display: inline-block;height: 70px; border-left: 1px solid #ccc;padding:  0 10px;float: left;width: 50%;}
.modulecontent .achievement .achievementtitle{ font-size: 15px;  }
.modulecontent .achievement .achievementnum{ font-size: 15px;  margin: 10px 0 0 0; text-align: center;}
.modulecontent .achievement .achievementnum .num {  font-size: 21px;text-align: center;line-height: 50px;color: #57bcc6; }
.module:nth-of-type(1)  .modulecontent .achievementnum .num { color: #57bcc6; }
.module:nth-of-type(2)  .modulecontent .achievementnum .num { color: #71ba35; }
.module:nth-of-type(3)  .modulecontent .achievementnum .num { color: #00a0e8; }
.module:nth-of-type(4)  .modulecontent .achievementnum .num { color: #f8b62c; }
.module:nth-of-type(5)  .modulecontent .achievementnum .num { color: #ec6313; }
.module:nth-of-type(6) .modulecontent .achievementnum .num { color: #e73a36; }

/*排行*/
.Ranking {float: left;width: 25%;min-width:320px;  padding:15px 15px 0 0;}
.RankingList {  margin: 15px;display: inline-block;border: 1px solid #f0f0f0 ;border-radius: 5px;   width: 90%; max-width: 300px; height: 199px;float: right;}
.Rankinghead{  background-color: #f7f6fb;    border-top-left-radius: 5px;border-top-right-radius: 5px;display: inline-block;width: 100%;border-bottom: 1px solid #f0f0f0;}

.Rankinghead .title {  display: inline-block;float: left;margin: 10px;  font-size: 19px;color: #8e8e8e;  }
.Rankinghead .title img{float: left;}
.Rankinghead .title span{    font-size: 13px;  float: left;  padding-top: 4px;}
.Rankinghead .desc{  display: inline-block;float: right;margin: 10px; font-size: 13px;color: #8e8e8e; }
.Rankingcontent ul {margin: 5px 0px;padding-left: 10px;}
.Rankingcontent ul li{   padding: 6px; font-size: 15px;  color: #7b7b7b;}
.Rankingcontent ul li span{float:right;  padding-right: 15px;}


/*业绩订单*/
.Statistic{display: inline-block;  width: 100%;}
.Statisticlist{  display: inline-block;  }
.achievementarea  { display: inline-block; width: 60%;float: left; min-width: 320px;min-height:250px;padding:0px 0px 15px 15px; }
.achievementmodule{  margin: 10px;display: inline-block;border: 1px solid #f0f0f0 ;border-radius: 5px;  }
.ordersarea {display: inline-block; width: 40%;float: left; min-width: 320px;min-height:250px;padding:0px 15px 15px 15px;}
.orders{  margin: 10px;display: inline-block;border: 1px solid #f0f0f0 ;border-radius: 5px;   float: right;  width: 92%;}
.achievementmodulehead{  background-color: #f7f6fb;    border-top-left-radius: 5px;border-top-right-radius: 5px;display: inline-block;width: 100%;border-bottom: 1px solid #f0f0f0;}
.achievementmodulehead .title {  display: inline-block;float: left;margin: 10px;  font-size: 19px;color: #8e8e8e;  }
.achievementmodulehead .title img{float: left;}
.achievementmodulehead .title span{    font-size: 13px;  float: left;  padding-top: 4px;}
.achievementmodulecontent{display: inline-block; padding: 0px 20px;}
.orderhead{  background-color: #f7f6fb;    border-top-left-radius: 5px;border-top-right-radius: 5px;display: inline-block;width: 100%;border-bottom: 1px solid #f0f0f0;}
.orderhead .title {  display: inline-block;float: left;margin: 10px;  font-size: 19px;color: #8e8e8e;  }
.orderhead .title img{float: left;}
.orderhead .title span{    font-size: 13px;  float: left;  padding-top: 4px;}
.ordercontent {padding: 50px 20px;  min-height: 190px;}
.order {display: inline-block;padding: 5px;  text-align: center;}
.order .ordervalue {line-height: 45px;font-size: 30px;color: #5fbce7;}
.order .orderdesc {color: #a1a1a1;font-size: 13px;}

.Charts {  display: inline-block;  float:left; margin:20px;}
.Charts .Chart { height: 130px; width: 130px;position: relative;overflow: hidden;float: left;margin:10px  20px;}
.Charts .Chart .ring{z-index: 9;position: absolute; width: 100%;height: 100%;-webkit-transform: rotate(0deg);}
.Charts .Chart:nth-of-type(1) .ring .bigcircle{  display: inline-block; width: 100%;height: 100%;position: absolute;  border-radius: 50%;  background-image: -webkit-linear-gradient(0deg,#51bbf7 50%,#e9e9eb 50%);}
.Charts .Chart:nth-of-type(2) .ring .bigcircle{  display: inline-block; width: 100%;height: 100%;position: absolute;  border-radius: 50%;  background-image: -webkit-linear-gradient(0deg,#eb7e3d 50%,#e9e9eb 50%);}
.Charts .Chart .ring .Smallcircle{  display: inline-block;top:5%;left:5%;  width: 90%;height: 90%;position: absolute;  border-radius: 50%; background-color: #FFF;}
.Charts .Chart .movering{position: absolute; width: 100%;height: 100%;-webkit-transform: rotate(0deg);z-index: 12;display:none;}
.Charts .Chart:nth-of-type(1) .movering .bigcircle{  display: inline-block; width: 100%;height: 100%;position: absolute;  border-radius: 50%;  background-image: -webkit-linear-gradient(0deg,rgba(11,11,11,0) 50%,#51bbf7 50%);}
.Charts .Chart:nth-of-type(2) .movering .bigcircle{  display: inline-block; width: 100%;height: 100%;position: absolute;  border-radius: 50%;  background-image: -webkit-linear-gradient(0deg,rgba(11,11,11,0) 50%,#eb7e3d 50%);}
.Charts .Chart .movering .Smallcircle{  display: inline-block;top:5%;left:5%;  width: 90%;height: 90%;position: absolute;  border-radius: 50%; background-color: #FFF;}
.Charts .Chart .leftring{position: absolute; width: 100%;height: 100%;z-index: 11;}
.Charts .Chart .leftring .bigcircle{  display: inline-block; width: 100%;height: 100%;position: absolute;  border-radius: 50%;  background-image: -webkit-linear-gradient(0deg,#e9e9eb 50%,rgba(11,11,11,0) 50%);}
.Charts .Chart .leftring .Smallcircle{  display: inline-block;top:5%;left:5%;  width: 90%;height: 90%;position: absolute;  border-radius: 50%; background-color: #FFF;}
.Charts .Chart .numvalue {  position: absolute;width: 100%;z-index: 20;color: #333;font-size: 21px;text-align: center;top: 50%;margin-top: -20px;left: 0;}
.Charts .Chart .numvalue .Pectvalue{ color: #333;font-size: 21px;}
.Charts .Chart .numvalue span{ font-size: 14px;display: block;color:#989898;  line-height: 30px;}
.Charts .Chart .leftcover {  left: 0;z-index: 10;width: 50%;height: 100%;background-color: #fff;position: absolute;top: 0;}
.Chartdesc{float: left;display:inline-block;  margin: 30px 0px;  width: 40%;}
.Chartdesc .optiondesc{  font-size: 15px;  color: #a1a1a1;margin: 7px;float:left;width:50%; min-width: 200px;white-space: nowrap;}
.Chartdesc .optiondesc span{font-size: 21px; color: #5fbce7;float: left;}
.Chartdesc .optiondesc em{ width: 130px; text-align: right;float: left;}

