@charset "utf-8";
/*------------------ HTML5 Reset ------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,address,cite,code,del,em,img,strong,sub,sup,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
ul,ol,li{list-style: none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
select,input,button,textarea{font-size:100%;font-style:normal;font-weight:400;vertical-align:middle}
body,button,input,select,textarea{font:14px/1.5 "微软雅黑",Arial,Helvetica,sans-serif}
body{text-align:left;color:#333;background:#fff}
input[type="radio"]{vertical-align:middle}
input[type="checkbox"]{vertical-align:middle}
label,input[type="button"],input[type="submit"],button,.button{cursor:pointer;border:none;outline:none;padding:0;margin:0;-webkit-appearance:button}
/*通用样式*/
a{color:#333;text-decoration:none;}
a:hover{color:#none;}
:focus{outline:none}
/*清除浮动*/
.clear{display:block;clear:both;overflow:hidden;height:0;line-height:0;font-size:0}
.clearfix:after{content:" ";visibility:hidden;display:block;clear:both;height:0;font-size:0}
.clearfix{*zoom:1}
/*省略号*/
.t-overflow{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
/*public*/
.mb-15{margin-bottom:15px;}
.mrml-35{margin:0 35px;}
.ui-mask{display:none;position:fixed;_position:absolute;_width:100%;_height:100%;top:0px;left:0px;right:0px;bottom:0px;background:rgba(0,0,0,0.4);background:#000\9;filter:Alpha(opacity=40);z-index:999;}
body{_height:100%;}


/*图文素材编辑详页*/
.x-body.x-reset{font:14px/1.5 "微软雅黑";}
.imageTextEditArea{width:1038px;margin:15px;padding-bottom:40px;border:1px solid #cecedc;border-radius:4px;}
/*公共标题*/
.commonTitleWrap{height:52px;padding:0 15px;border-bottom:1px solid #cecedc;border-radius:4px 4px 0 0;background:#f2f2f9;}
.commonTitleWrap h2{float:left;margin-top:15px;font-size:15px;font-weight:bold;color:#404853;}
.commonTitleWrap span{float:right;width:80px;height:30px;line-height:30px;margin:12px 20px 0 0;border-radius:3px;text-align:center;color:#fff;cursor:pointer;}
.commonTitleWrap .cancelBtn{background:#949ca7;}


.titleUploadArea{width:640px;margin:0 auto;padding:28px 0 10px;background:#fff;}
.commonItem{margin-bottom:20px;}
.commonItem .tit{float:left;min-width:100px;width:auto;_width:100px;height:36px;line-height:36px;font-size:15px;font-weight:bold;color:#404853;}
.commonItem .handleWrap{float:left;}
.commonItem .inputBox{width:490px;height:32px;padding-left:5px;border:1px solid #cecedc;}

.commonItem .uploadWrap{padding-top:45px;}
.commonItem .viewPic{float:left;width:179px;height:100px;line-height:100px;margin-right:30px;text-align:center;font-size:16px;background:#d0d0d0;color:#fff;}
.commonItem .viewPic img{display:block;width:179px;height:100px;}
.commonItem .info{float:left;width:200px;}
.commonItem .exp{line-height:28px;font-size:15px;color:#828282;}
.commonItem .uploadBtn{display:block;width:96px;height:30px;line-height:30px;margin-top:15px;text-align:center;border-radius:7px;background:#b2c7ab url(images/uploadBtn.jpg) no-repeat center center;;color:#fff;cursor:pointer;}
.tempEditArea{border:1px dashed #dadada;background:#f9f9f9;}
.tempEditArea .areaWrap{width:640px;margin:0 auto;padding:20px 0 10px;}
.commonItem .selectBox{width:490px;padding:7px 0 7px 5px;border:1px solid #cecedc;}
.commonItem .weirdBox{width:210px;padding:8px 0 8px 5px;border:none;border-radius:4px;background:#d0d4d7;}
.commonItem .ke-button-common{opacity:0;filter:alpha(opacity=0);}

 
.tempEditArea .moudle{float:left;margin-right:23px;cursor:pointer;}
.tempEditArea .moudle p{position:relative;width:75px;height:75px;background:#d0d0d0;}
.tempEditArea .moudle .name{display:block;margin-top:10px;text-align:center;font-size:14px;font-weight:bold;color:#404853;}
.tempEditArea .moudle .mask{display:none;position:absolute;width:75px;height:75px;background:url(images/moudleOn.png) no-repeat center center;}
.tempEditArea .moudle.on .mask{display:block;}

.tempEditArea .richTextBox{clear:left;}



/*弹层*/
.activeListPopupArea{display:none;width:1038px;padding-bottom:20px;position:fixed;_position:absolute;top:30px;left:50%;margin-left:-519px;border-radius:4px;background:#fff;z-index:9999;}
.activeListPopupArea .pagination{float:right;margin-right:20px;}
.activeQueryWrap{height:70px;padding:20px 0 0 15px;border-radius:3px 3px 0 0;background:#fff;}
.activeQueryWrap .tit{float:left;height:32px;line-height:32px;font-size:15px;font-weight:bold;color:#3f4952;}
.activeQueryWrap input,.activeQueryWrap select{float:left;width:182px;height:30px;_line-height:30px;margin:0 50px 0 16px;padding:0;text-indent:5px;border:1px solid #cecedc;background:#f9f9f9;}
.activeQueryWrap select{height:32px;_line-height:32px;cursor:pointer;}
.activeQueryWrap .queryBtn{float:left;width:96px;height:28px;line-height:28px;margin-top:2px;text-align:center;border-radius:4px;background:#b2c7ab;color:#fff;cursor:pointer;}

.activeListWrap{height:450px;overflow-y:auto;overflow-x:hidden;}
.activeListWrap table{margin-bottom:20px;border-collapse:collapse;border:1px solid #cecedc;}
.activeListWrap input{cursor:pointer;width:15px;height:15px;}
.activeListWrap th{font-size:14px;background:#f6f6f7;text-align:center;font-weight:bold; background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(1,#edecf1));}
.activeListWrap td{font-size:12px;border:1px solid #cecedc;vertical-align: middle;}
.activeListWrap .location{vertical-align:bottom;}
.activeListWrap tr{height:40px;text-align:center;color:#313131;}
.activeListWrap table tr:nth-of-type(odd){background:#f7f6fb;}
.activeListWrap .editText{padding-bottom:1px;font-size:14px;font-weight:bold;font-family:"宋体";border-bottom:1px solid #79b440;color:#79b440;}
.activeListWrap .on{background:#d2dfe7!important;}
.show{display:block;}
.hide{display:none;}
