@charset "utf-8";
/* CSS Document */
*{-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	-ms-touch-action: none;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img { border: none; margin: 0; padding: 0;  }
body, button, input, select, textarea { font-size: 12px; font-family: THeiti,"微软雅黑",Arial, Helvetica, sans-serif; word-break: break-all; word-wrap: break-word; color: #565656; resize: none; outline: none; }
body { background-color:#fff;}
h1, h2, h3, h4, h5, h6 { font-size: 14px; font-weight: normal; }
em { font-style: normal; }
ul, ol, img { list-style: none; border: 0; }
table, th, td, tr { border-collapse: collapse; border-spacing: 0; border: 0; font-size: 12px; margin: 0; padding: 0; }
textarea, input[type="text"],input[type="password"],input[type="button"],input[type="submit"]{ resize: none; outline: none; -webkit-appearance: none;   }
.zoom { overflow: hidden; zoom: 1;  }
.frdisplay{ float:right; display:block;}
.fldisplay{ float:left; display:block; _display:inline;}
a,a:hover{ text-decoration:none; color:#7c7c7c;}
.common{ background-color:#e1e5e7; position:relative; overflow:hidden; width:100%;   margin-left:auto; margin-right:auto; }
.Index3{ position:absolute;  bottom:30px;  left:0;   z-index:0; }
.index4{position:absolute;  bottom:-6px;  left:0;   z-index:4;}
.index5{position:absolute;  bottom:20px;  left:0;   z-index:3;}
.pageab{ position:absolute; z-index:3}
.Opacityck{ background-color:#fff; opacity:0.3; width:100%; height:100%; z-index:1;}
.index6{ position:absolute; left:0; bottom:0px; z-index:5; }

.index1{position:absolute;  top:5%;  left:0; width:100%;    z-index:4; }
.index2{position:absolute;  top:22%;  left:0; width:100%;    z-index:4;}
.Menu{ height:45px; background-color:#1a2225; position:fixed; left:0; right:0; bottom:0; margin-left:auto; margin-right:auto; z-index:999;}
.odh1{ padding-top:20px; font-size:12px; text-align:center; color:#000;}
.odInput{ width:90%; margin-left:auto; margin-right:auto; height:42px; margin-top:15px;}
.InputStyle{ background-color:#fff; border:1px solid #cccccc; height:42px; line-height:normal; border-radius:3px; padding-left:2%; width:98%;}
.Inputbtn{ background-color:#d84040; height:42px; line-height:42px; text-align:center; border-radius:5px; color:#fff; font-size:14px; width:100%; cursor:pointer}
.odcacat{ background-color:#fff; width:84%; padding:10px 3%; border:1px solid #ccc; margin-left:auto; margin-right:auto; margin-top:15px; }
.dos{ position:relative; margin-top:10px; padding-left:30px; height:36px; line-height:36px; font-size:12px;}
.dos img{ vertical-align:middle; position:absolute; left:0; top:0;}
.odh2{ padding-top:20px; text-align:center; color:#000; font-size:14px;}
.ActionClass .oeir .index1,.ActionClass .oeir .index2{
		opacity:1;
	-webkit-transform:translateY(0) translateZ(0);
	   -moz-transform:translateY(0px) translateZ(0);
	        transform:translateY(0px) translateZ(0);
	-webkit-transition:-webkit-transform .6s cubic-bezier(0.645, 0.045, 0.355, 1.000), opacity .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	   -moz-transition:   -moz-transform .6s cubic-bezier(0.645, 0.045, 0.355, 1.000), opacity .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	        transition:        transform .6s cubic-bezier(0.645, 0.045, 0.355, 1.000), opacity .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.ActionClass  .index1,.ActionClass  .index2{
		opacity:0;
		-webkit-transform:translateY(20px) translateZ(0);
	  	 -moz-transform:translateY(20px) translateZ(0);
	        transform:translateY(20px) translateZ(0);
}

.ActionClass .oeir .index5{
		opacity:1;
	-webkit-transform:translateY(0) translateZ(0);
	   -moz-transform:translateY(0px) translateZ(0);
	        transform:translateY(0px) translateZ(0);
	-webkit-transition:-webkit-transform 1.6s cubic-bezier(0.645, 0.045, 0.355, 1.000), opacity 1.6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	   -moz-transition:   -moz-transform 1.6s cubic-bezier(0.645, 0.045, 0.355, 1.000), opacity 1.6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	        transition:        transform 1.6s cubic-bezier(0.645, 0.045, 0.355, 1.000), opacity 1.6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.ActionClass  .index5{
		opacity:1;
		-webkit-transform:translateY(120px) translateZ(0);
	  	 -moz-transform:translateY(120px) translateZ(0) ;
	        transform:translateY(120px) translateZ(0);
}
.ActionClass  .index6 {

	-webkit-transform-origin:0 0 -12px;
	   -moz-transform-origin:0 0 -12px;
	        transform-origin:0 0 -12px;
}
.ActionClass .oeir .index6  {
	-webkit-animation:arrow 3s infinite ease-in-out;
	   -moz-animation:arrow 3s infinite ease-in-out;
	        animation:arrow 3s infinite ease-in-out;
}
.ActionClass .oeir .index3XG{
	 -webkit-animation-name: pulse;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
	 -webkit-animation:moveclouds 8s linear infinite;
	-moz-animation:moveclouds 8s linear infinite;
	-o-animation:moveclouds 8s linear infinite
	
}
@-webkit-keyframes moveclouds{
	0%{left:0px;}
	100%{left:-100%;}
}
@-moz-keyframes moveclouds{
		0%{left:0px;}
	100%{left:-100%;}
}
@-o-keyframes moveclouds{
		0%{left:0px;}
	100%{left:-100%;}
}

/* arrow animation */
@-webkit-keyframes arrow {
	0% { -webkit-transform:translate3d(0, 0, 10px) rotateX(37deg); opacity:0; }
	20% { -webkit-transform:translate3d(0, 0, 10px) rotateX(0); opacity:1; }
	60% { -webkit-transform:translate3d(0, 0, 10px) rotateX(0); opacity:1; }
	80% { -webkit-transform:translate3d(0, 0, 10px) rotateX(0); opacity:1; }
	100% { -webkit-transform:translate3d(0, 0, 10px) rotateX(-45deg); opacity:0; }
}
@-moz-keyframes arrow {
	0% { -moz-transform:translate3d(0, 0, 10px) rotateX(37deg); opacity:0; }
	20% { -moz-transform:translate3d(0, 0, 10px) rotateX(0); opacity:1; }
	60% { -moz-transform:translate3d(0, 0, 10px) rotateX(0); opacity:1; }
	80% { -moz-transform:translate3d(0, 0, 10px) rotateX(0); opacity:1; }
	100% { -moz-transform:translate3d(0, 0, 10px) rotateX(-45deg); opacity:0; }
}
@keyframes arrow {
	0% { transform:translate3d(0, 0, 10px) rotateX(37deg); opacity:0; }
	20% { transform:translate3d(0, 0, 10px) rotateX(0); opacity:1; }
	60% { transform:translate3d(0, 0, 10px) rotateX(0); opacity:1; }
	80% { transform:translate3d(0, 0, 10px) rotateX(0); opacity:1; }
	100% { transform:translate3d(0, 0, 10px) rotateX(-45deg); opacity:0; }
}